<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <%= partial("layouts/analytics") %>
    <title>
      <%= current_page.data.title %> | Your API Site Name
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="en" name="language">

    <%= stylesheet_link_tag("all") %>
  </head>
  <body class="blank <%= page_classes %>">
    <%= partial("layouts/noscript_analytics") %>
    <%= yield %>
  </body>
</html>
