<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial("layouts/analytics") %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      <% unless(current_page.url == "/") %>
        <%= current_page.data.title %> 
        <% if(current_page.url =~ %r{/docs/\w+/?$}) %>
          APIs
        <% elsif(current_page.url =~ %r{/docs/\w+/.+}) %>
          API
        <% end %>
        |
      <% end %>
      NREL: Developer Network
    </title>

    <link rel="canonical" href="https://developer.nrel.gov<%= current_page.url %>" />
    <script>
      if(window.location.href.indexOf('nrel.github.io') !== -1) {
        window.location.href = 'https://developer.nrel.gov<%= current_page.url %>';
      }
    </script>

    <%= stylesheet_link_tag("all") %>

    <%= javascript_include_tag("shared") %>
    <%= javascript_include_tag("all") %>
  </head>
  <body class="<%= page_classes %>">
    <%= partial("layouts/noscript_analytics") %>
    <%= partial("layouts/header") %>
    <%= yield %>
    <%= partial("layouts/edit_me") %>
    <%= partial("layouts/footer") %>
  </body>
</html>
