---
title: NSRDB Data Query
summary: "Returns information on the nearest NSRDB datasets for a location, including links for accessing the data. For information about the NSRDB and the datasets available through this service, please visit [https://nsrdb.nrel.gov](https://nsrdb.nrel.gov)."
detail: "PSM v3:
\n\n
The satellite data was created using cloud properties which are generated using the AVHRR Pathfinder Atmospheres-Extended (PATMOS-x) algorithms. Fast all-sky radiation model for solar applications (FARMS) in conjunction with the cloud properties, and aerosol optical depth (AOD) and precipitable water vapor (PWV) from ancillary source are used to estimate DNI and GHI. The direct normal irradiance (DNI) and GHI are computed for clear skies using the REST2 model. For cloud scenes identified by the cloud mask, the FARMS is used to compute the GHI. The DNI for cloud scenes is then computed using the DISC model.
\n\n
PSM v4:
\n\n
The satellite data was created using cloud properties which are generated using the AVHRR Pathfinder Atmospheres-Extended (PATMOS-x) algorithms. Fast all-sky radiation model for solar applications (FARMS) in conjunction with the cloud properties, and aerosol optical depth (AOD) and precipitable water vapor (PWV) from ancillary source are used to estimate DNI and GHI. The direct normal irradiance (DNI) and GHI are computed for clear skies using the REST2 model. For cloud scenes identified by the cloud mask, the FARMS is used to compute the GHI. The DNI for cloud scenes is computed using the FARMS-DNI model."
url: /api/solar/nsrdb_data_query
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

<%= current_page.data.detail %>

<ul id="toc"></ul>


## Request URL

<pre>GET|POST <%= current_page.data.url %><em>.format?parameters</em></pre>

## Request Parameters
_NOTE: when using POST to submit a request the api_key must still be included as a query parameter in the url. All other parameters may be included in a POST request as part of the payload._

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">wkt</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> well-known text string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        A well-known text (WKT) representation of the geometry for which to extract data. May be a point, multipoint, or polygon geometry. When a point is passed the site nearest to that point is used. When a multipoint is passed the site nearest each point is used. This can be useful for downloading multiple sites in a single request when those sites are geographically distant from each other. When a polygon is passed all sites that intersect with the given polygon are used. Required if neither address nor lat/lon are specified.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">address</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
      </td>
      <td class="doc-parameter-description">The address to use. Required if neither wkt nor lat/lon are specified.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">lat</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Min:</strong> <i>-90</i>
        </div>
        <div class="doc-parameter-value-field">
          <strong>Max:</strong> <i>90</i>
        </div>
      </td>
      <td class="doc-parameter-description">The latitude for the location to use. Required if neither address nor wkt are specified.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">lon</th>
      <td class="doc-parameter-required">Depends</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field">
          <strong>Min:</strong> <i>-180</i>
        </div>
        <div class="doc-parameter-value-field">
          <strong>Max:</strong> <i>180</i>
        </div>
      </td>
      <td class="doc-parameter-description">The longitude for the location to use. Required if neither address nor wkt are specified.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">type</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> None
        </div>
        <div class="doc-parameter-value-field"><strong>Options:</strong> <em>satellite, station</em></div>
      </td>
      <td class="doc-parameter-description">The type of datasets to include in the response.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">show_empty</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> boolean
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> false
        </div>
      </td>
      <td class="doc-parameter-description">If true, returns metadata for <em>all</em> datasets including those with no data at the given location.</td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of service-related informational fields and the results of the data query.

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">errors</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
      </td>
      <td class="doc-parameter-description">
      <p>A list of error messages</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">warnings</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
      </td>
      <td class="doc-parameter-description">
      <p>A list of warning messages</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">inputs</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> Object hash</div>
      </td>
      <td class="doc-parameter-description">Key: Value pairs representing all input parameters</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">outputs</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> Object array</div>
      </td>
      <td class="doc-parameter-description">An array of objects describing the datasets returned by the query. Dataset objects will include descriptive details, links to dataset information, links to documentation for more dataset-specific API endpoints, and where appropriate a list of direct download links for easily accessing the data for any year at any resolution available. Please note that the returned links will require the addition of a valid <code>api_key</code> and <code>email</code> parameter.</td>
    </tr>
  </tbody>
</table>

## Data File Format

Generated data files are formatted in accordance with the Standard Time Series Data File Format. This file format has been developed to support [SAM](https://sam.nrel.gov/) and other NREL models and is documented fully in [this PDF](https://sam.nrel.gov/sites/default/files/content/documents/pdf/wfcsv.pdf). More information on SAM file formats available on [the SAM weather page](https://sam.nrel.gov/weather).

## Examples

### JSON Output Format

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?api_key=DEMO_KEY&wkt=POINT(91.287+23.832)</code></div>

```json
{
  "errors": [],
  "inputs": {
    "wkt": "POINT(91.287 23.832)"
  },
  "outputs": [
    {
      "apiDocs": "https://developer.nrel.gov/docs/solar/nsrdb/suny_data_download/",
      "availableYears": [
        "tmy",
        2000,
        2001,
        2002,
        2003,
        2004,
        2005,
        2006,
        2007,
        2008,
        2009,
        2010,
        2011,
        2012,
        2013,
        2014
      ],
      "availableIntervals": [
        60
      ],
      "displayName": "SUNY International",
      "metadataLink": "https://nsrdb.nrel.gov/international-datasets",
      "name": "suny-international",
      "type": "satellite",
      "links": [
        {
          "year": "tmy",
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=tmy&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2000,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2000&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2001,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2001&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2002,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2002&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2003,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2003&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2004,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2004&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2005,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2005&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2006,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2006&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2007,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2007&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2008,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2008&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2009,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2009&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2010,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2010&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2011,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2011&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2012,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2012&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2013,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2013&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        },
        {
          "year": 2014,
          "interval": 60,
          "link": "https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2014&wkt=POINT%2891.287+23.832%29&interval=60&api_key=yourapikey&email=youremail"
        }
      ]
    }
  ]
}
```

### XML Output Format

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.xml?api_key=DEMO_KEY&wkt=POINT(91.287+23.832)</code></div>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<hash>
  <errors type="array"/>
  <inputs>
    <wkt>POINT(91.287 23.832)</wkt>
  </inputs>
  <outputs type="array">
    <output>
      <apiDocs>https://developer.nrel.gov/docs/solar/nsrdb/suny_data_download/</apiDocs>
      <availableYears type="array">
        <availableYear>tmy</availableYear>
        <availableYear type="integer">2000</availableYear>
        <availableYear type="integer">2001</availableYear>
        <availableYear type="integer">2002</availableYear>
        <availableYear type="integer">2003</availableYear>
        <availableYear type="integer">2004</availableYear>
        <availableYear type="integer">2005</availableYear>
        <availableYear type="integer">2006</availableYear>
        <availableYear type="integer">2007</availableYear>
        <availableYear type="integer">2008</availableYear>
        <availableYear type="integer">2009</availableYear>
        <availableYear type="integer">2010</availableYear>
        <availableYear type="integer">2011</availableYear>
        <availableYear type="integer">2012</availableYear>
        <availableYear type="integer">2013</availableYear>
        <availableYear type="integer">2014</availableYear>
      </availableYears>
      <availableIntervals type="array">
        <availableInterval type="integer">60</availableInterval>
      </availableIntervals>
      <displayName>SUNY International</displayName>
      <metadataLink>https://nsrdb.nrel.gov/international-datasets</metadataLink>
      <name>suny-international</name>
      <type>satellite</type>
      <links type="array">
        <link>
          <year>tmy</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=tmy&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2000</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2000&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2001</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2001&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2002</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2002&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2003</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2003&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2004</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2004&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2005</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2005&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2006</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2006&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2007</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2007&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2008</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2008&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2009</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2009&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2010</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2010&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2011</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2011&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2012</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2012&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2013</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2013&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
        <link>
          <year type="integer">2014</year>
          <interval type="integer">60</interval>
          <link>https://developer.nrel.gov/api/solar/suny_india_download.csv?names=2014&amp;wkt=POINT%2891.287+23.832%29&amp;interval=60&amp;api_key=yourapikey&amp;email=youremail</link>
        </link>
      </links>
    </output>
  </outputs>
</hash>
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

<h2 id="contacts">Contact</h2>

<p>For questions about the API or the data models please contact <a href="mailto:nsrdb@nrel.gov">nsrdb@nrel.gov</a></p>

<h2 id="errors">Errors</h2>

<p><a href="/docs/errors/">Standard errors</a> may be returned. In addition, the following service-specific errors may be returned:</p>

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">400</th>
      <td class="doc-parameter-description">Bad Request: When required parameters are missing or invalid.</td>
    </tr>
  </tbody>
</table>
