---
title: Site Count
summary: Determine the number of sites containing data for a given point, polygon, or multipoint as specified by a WKT. This is useful for calculating download request size. Details at [the download guide](/docs/solar/nsrdb/guide).
url: /api/nsrdb/v2/site-count
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

<%= partial "layouts/toc" %>

## Request URL

<pre>GET|POST <%= current_page.data.url %><em>.format?parameters</em></pre>

## Request Parameters
_NOTE: when using POST to submit a request the api_key must still be included as a query parameter in the url. All other parameters may be included in a POST request as part of the payload._

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">wkt</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> well-known text string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        A well-known text (WKT) representation of the geometry for which to extract data. May be a point, multipoint, or polygon geometry. When a point is passed the site nearest to that point is used. When a multipoint is passed the site nearest each point is used. This can be useful for downloading multiple sites in a single request when those sites are geographically distant from each other. When a polygon is passed all sites that intersect with the given polygon are used.
      </td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of service-related informational fields and the results of the data query.

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">errors</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
      </td>
      <td class="doc-parameter-description">
      <p>A list of error messages</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">warnings</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
      </td>
      <td class="doc-parameter-description">
      <p>A list of warning messages</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">inputs</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
      </td>
      <td class="doc-parameter-description">Key: Value pairs representing all input parameters</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">outputs</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
      </td>
      <td class="doc-parameter-description">Upon successful completion a list of datasets with a site count for each will be returned.</td>
    </tr>
  </tbody>
</table>

<h2>Examples</h2>

### JSON Output Format

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?api_key=DEMO_KEY&wkt=POLYGON((-114.609374+40.178873%2C-112.675781+40.178873%2C-112.675781+38.616870%2C-114.609374+38.616870%2C-114.609374+40.178873))</code></div>

```json
{
  "errors": [ ],
  "inputs": {
    "wkt": "POLYGON((-114.609374 40.178873,-112.675781 40.178873,-112.675781 38.616870,-114.609374 38.616870,-114.609374 40.178873))"
  },
  "outputs": {
    "nsrdb_spectral_site_count": 0,
    "nsrdb_0512_site_count": 1872,
    "suny_india_site_count": 0,
    "nsrdb_9110_site_count": 0,
    "nsrdb_9105_site_count": 0,
    "nsrdb_9105_tmy_site_count": 0,
    "nsrdb_6190_site_count": 0,
    "nsrdb_9809_count": 0,
    "within_united_states": true,
    "nsrdb_site_count": 1872
  }
}
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour.

<h2 id="errors">Errors</h2>

<p><a href="/docs/errors/">Standard errors</a> may be returned. In addition, the following service-specific errors may be returned:</p>

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">400</th>
      <td class="doc-parameter-description">Bad Request: When required parameters are missing.</td>
    </tr>
  </tbody>
</table>
