# ---
# title: Spectral TMY India
# summary: Collect and download, as CSV, a configurable set of solar and meteorological data fields from The NSRDB. The National Solar Radiation Database [(NSRDB)](https://nsrdb.nrel.gov/) is a serially complete collection of satellite-derived measurements of solar radiation—global horizontal, direct normal, and diffuse horizontal irradiance—and meteorological data. These data have been collected at a sufficient number of locations and temporal and spatial scales to accurately represent regional solar radiation climates. The data are publicly available at no cost to the user. These API provide access to downloading the data. Other options are detailed [here](https://nsrdb.nrel.gov/data-sets/how-to-access-data). Read more about the datasets at [https://nsrdb.nrel.gov](https://nsrdb.nrel.gov).
# detail: This API is capable of creating very large downloadable archives. Unlike a typical API, the response to this provides a request acknowledgement. The real work of creating the requested downloadable archive will continue to run on the server side. When complete, and email will be sent to the email address provided in the initial request with a link to a file to download. In addition to this two step workflow, there is also an option for users who wish to download a single CSV file in direct response to an API request. The <em>.csv</em> format may be used to download a CSV directly. This feature is restricted to use with only a single POINT, for a single YEAR at a time. <br>Read more about the datasets at [https://nsrdb.nrel.gov](https://nsrdb.nrel.gov)
# url: /api/nsrdb/v2/solar/spectral-india-tmy-download
# deprecated: true # TODO: I'm not sure if this is true...?
# ---

# # <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
# <%= current_page.data.summary %>

# <ul id="toc"></ul>

# ## Request URL

# <pre>GET|POST <%= current_page.data.url %><em>.format?parameters</em></pre>

# ## Request Parameters
# _NOTE: when using POST to submit a request the api_key must still be included as a query parameter in the url. All other parameters may be included in a POST request as part of the payload._

# <table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
#   <thead>
#     <tr>
#       <th class="doc-parameters-name" scope="col">Parameter</th>
#       <th class="doc-parameters-required" scope="col">Required</th>
#       <th class="doc-parameters-value" scope="col">Value</th>
#       <th class="doc-parameters-description" scope="col">Description</th>
#     </tr>
#   </thead>
#   <tbody>
#     <tr>
#       <th class="doc-parameter-name" scope="row">api_key</th>
#       <td class="doc-parameter-required">Yes</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
#       </td>
#       <td class="doc-parameter-description">
#         <p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
#       </td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">wkt</th>
#       <td class="doc-parameter-required">Yes</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> well-known text string</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
#       </td>
#       <td class="doc-parameter-description">
#         A well-known text (WKT) representation of the geometry for which to extract data. May be a point, multipoint, or polygon geometry. When a point is passed the site nearest to that point is used. When a multipoint is passed the site nearest each point is used. This can be useful for downloading multiple sites in a single request when those sites are geographically distant from each other. When a polygon is passed all sites that intersect with the given polygon are used.
#       </td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">attributes</th>
#       <td class="doc-parameter-required">No</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited string array</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> Returns ALL</div>
#         <div class="doc-parameter-value-field"><strong>Options:</strong> <em>PW, AT, WS, DNI_300, DNI_310, DNI_320, DNI_330, DNI_340, DNI_350, DNI_360, DNI_370, DNI_380, DNI_390, DNI_400, DNI_410, DNI_420, DNI_430, DNI_440, DNI_450, DNI_460, DNI_470, DNI_480, DNI_490, DNI_500, DNI_510, DNI_520, DNI_530, DNI_540, DNI_550, DNI_560, DNI_570, DNI_580, DNI_590, DNI_600, DNI_610, DNI_620, DNI_630, DNI_640, DNI_650, DNI_660, DNI_670, DNI_680, DNI_690, DNI_700, DNI_710, DNI_720, DNI_730, DNI_740, DNI_750, DNI_760, DNI_770, DNI_780, DNI_790, DNI_800, DNI_810, DNI_820, DNI_830, DNI_840, DNI_850, DNI_860, DNI_870, DNI_880, DNI_890, DNI_900, DNI_910, DNI_920, DNI_930, DNI_940, DNI_950, DNI_960, DNI_970, DNI_980, DNI_990, DNI_1000, DNI_1010, DNI_1020, DNI_1030, DNI_1040, DNI_1050, DNI_1060, DNI_1070, DNI_1080, DNI_1090, DNI_1100, DNI_1110, DNI_1120, DNI_1130, DNI_1140, DNI_1150, DNI_1160, DNI_1170, DNI_1180, DNI_1190, DNI_1200, DNI_1210, DNI_1220, DNI_1230, DNI_1240, DNI_1250, DNI_1260, DNI_1270, DNI_1280, DNI_1290, DNI_1300, DNI_1310, DNI_1320, DNI_1330, DNI_1340, DNI_1350, DNI_1360, DNI_1370, DNI_1380, DNI_1390, DNI_1400, DNI_1410, DNI_1420, DNI_1430, DNI_1440, DNI_1450, DNI_1460, DNI_1470, DNI_1480, DNI_1490, DNI_1500, DNI_1510, DNI_1520, DNI_1530, DNI_1540, DNI_1550, DNI_1560, DNI_1570, DNI_1580, DNI_1590, DNI_1600, DNI_1610, DNI_1620, DNI_1630, DNI_1640, DNI_1650, DNI_1660, DNI_1670, DNI_1680, DNI_1690, DNI_1700, DNI_1710, DNI_1720, DNI_1730, DNI_1740, DNI_1750, DNI_1760, DNI_1770, DNI_1780, DNI_1790, DNI_1800, GHI_300, GHI_310, GHI_320, GHI_330, GHI_340, GHI_350, GHI_360, GHI_370, GHI_380, GHI_390, GHI_400, GHI_410, GHI_420, GHI_430, GHI_440, GHI_450, GHI_460, GHI_470, GHI_480, GHI_490, GHI_500, GHI_510, GHI_520, GHI_530, GHI_540, GHI_550, GHI_560, GHI_570, GHI_580, GHI_590, GHI_600, GHI_610, GHI_620, GHI_630, GHI_640, GHI_650, GHI_660, GHI_670, GHI_680, GHI_690, GHI_700, GHI_710, GHI_720, GHI_730, GHI_740, GHI_750, GHI_760, GHI_770, GHI_780, GHI_790, GHI_800, GHI_810, GHI_820, GHI_830, GHI_840, GHI_850, GHI_860, GHI_870, GHI_880, GHI_890, GHI_900, GHI_910, GHI_920, GHI_930, GHI_940, GHI_950, GHI_960, GHI_970, GHI_980, GHI_990, GHI_1000, GHI_1010, GHI_1020, GHI_1030, GHI_1040, GHI_1050, GHI_1060, GHI_1070, GHI_1080, GHI_1090, GHI_1100, GHI_1110, GHI_1120, GHI_1130, GHI_1140, GHI_1150, GHI_1160, GHI_1170, GHI_1180, GHI_1190, GHI_1200, GHI_1210, GHI_1220, GHI_1230, GHI_1240, GHI_1250, GHI_1260, GHI_1270, GHI_1280, GHI_1290, GHI_1300, GHI_1310, GHI_1320, GHI_1330, GHI_1340, GHI_1350, GHI_1360, GHI_1370, GHI_1380, GHI_1390, GHI_1400, GHI_1410, GHI_1420, GHI_1430, GHI_1440, GHI_1450, GHI_1460, GHI_1470, GHI_1480, GHI_1490, GHI_1500, GHI_1510, GHI_1520, GHI_1530, GHI_1540, GHI_1550, GHI_1560, GHI_1570, GHI_1580, GHI_1590, GHI_1600, GHI_1610, GHI_1620, GHI_1630, GHI_1640, GHI_1650, GHI_1660, GHI_1670, GHI_1680, GHI_1690, GHI_1700, GHI_1710, GHI_1720, GHI_1730, GHI_1740, GHI_1750, GHI_1760, GHI_1770, GHI_1780, GHI_1790, GHI_1800</em></div>
#       </td>
#       <td class="doc-parameter-description">
#         Each specified attribute will be returned as a column in the resultant CSV download.
#       </td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">names</th>
#       <td class="doc-parameter-required">Yes</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited string array</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
#         <div class="doc-parameter-value-field"><strong>Options:</strong> <em>tmy</em></div>
#       </td>
#       <td class="doc-parameter-description">The year(s) for which data should be extracted.</td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">utc</th>
#       <td class="doc-parameter-required">No</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> true</div>
#       </td>
#       <td class="doc-parameter-description">
#         Pass true to retrieve data with timestamps in UTC. Pass false to retrieve data with timestamps converted to local time of data point (without daylight savings time).
#       </td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">full_name</th>
#       <td class="doc-parameter-required">No</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
#       </td>
#       <td class="doc-parameter-description">The full name of the user requesting data.</td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">email</th>
#       <td class="doc-parameter-required">Yes</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> email string</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
#       </td>
#       <td class="doc-parameter-description">
#         An active email for the user requesting data. This email will be used to deliver the extracted data.
#       </td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">affiliation</th>
#       <td class="doc-parameter-required">No</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
#       </td>
#       <td class="doc-parameter-description">
#         The organization with which the user requesting the data is affiliated.
#       </td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">reason</th>
#       <td class="doc-parameter-required">No</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
#       </td>
#       <td class="doc-parameter-description">The reason that the user is requesting the data.</td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">mailing_list</th>
#       <td class="doc-parameter-required">No</td>
#       <td class="doc-parameter-value">
#         <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
#         <div class="doc-parameter-value-field"><strong>Default:</strong> false</div>
#       </td>
#       <td class="doc-parameter-description">
#         Pass true to add the email address to our list of recipients for the NSRDB mailing list.
#       </td>
#     </tr>
#   </tbody>
# </table>

# ## Response Fields

# The response is composed of service-related informational fields and the results of the data query.

# <table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
#   <thead>
#     <tr>
#       <th class="doc-parameters-name" scope="col">Field</th>
#       <th class="doc-parameters-value" scope="col">Value</th>
#       <th class="doc-parameters-description" scope="col">Description</th>
#     </tr>
#   </thead>
#   <tbody>
#     <tr>
#       <th class="doc-parameter-name" scope="row">errors</th>
#       <td class="doc-parameter-value">
#       <div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
#       </td>
#       <td class="doc-parameter-description">
#       <p>A list of error messages</p>
#       </td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">inputs</th>
#       <td class="doc-parameter-value">
#       <div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
#       </td>
#       <td class="doc-parameter-description">Key: Value pairs representing all input parameters</td>
#     </tr>
#     <tr>
#       <th class="doc-parameter-name" scope="row">outputs</th>
#       <td class="doc-parameter-value">
#       <div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
#       </td>
#       <td class="doc-parameter-description">Upon successful completion a message will be returned informing the user that file generation is in progress and an email will be sent to the address provided in the <code>email</code> input field when the download is ready</td>
#     </tr>
#   </tbody>
# </table>

# ## Data File Format

# Generated data files are formatted in accordance with the Standard Time Series Data File Format. This file format has been developed to support [SAM](https://sam.nrel.gov/) and other NREL models and is documented fully in [this PDF](https://sam.nrel.gov/sites/default/files/content/documents/pdf/wfcsv.pdf). More information on SAM file formats avaialable on [the SAM weather page](https://sam.nrel.gov/weather).

# ## Examples

# ### JSON Output Format

# <div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?api_key=DEMO_KEY&full_name=Sample+User&email=user@company.com&affiliation=Test+Organization&reason=Example&mailing_list=true&wkt=POINT(77.08007%2020.79720)&names=tmy&attributes=PW,AT,WS,DNI_300,DNI_310,DNI_320,DNI_330,DNI_340,DNI_350,DNI_360,DNI_370,DNI_380,DNI_390,DNI_400,DNI_410,DNI_420,DNI_430,DNI_440,DNI_450,DNI_460,DNI_470,DNI_480,DNI_490,DNI_500,DNI_510,DNI_520,DNI_530,DNI_540,DNI_550,DNI_560,DNI_570,DNI_580,DNI_590,DNI_600,DNI_610,DNI_620,DNI_630,DNI_640,DNI_650,DNI_660,DNI_670,DNI_680,DNI_690,DNI_700,DNI_710,DNI_720,DNI_730,DNI_740,DNI_750,DNI_760,DNI_770,DNI_780,DNI_790,DNI_800,DNI_810,DNI_820,DNI_830,DNI_840,DNI_850,DNI_860,DNI_870,DNI_880,DNI_890,DNI_900,DNI_910,DNI_920,DNI_930,DNI_940,DNI_950,DNI_960,DNI_970,DNI_980,DNI_990,DNI_1000,DNI_1010,DNI_1020,DNI_1030,DNI_1040,DNI_1050,DNI_1060,DNI_1070,DNI_1080,DNI_1090,DNI_1100,DNI_1110,DNI_1120,DNI_1130,DNI_1140,DNI_1150,DNI_1160,DNI_1170,DNI_1180,DNI_1190,DNI_1200,DNI_1210,DNI_1220,DNI_1230,DNI_1240,DNI_1250,DNI_1260,DNI_1270,DNI_1280,DNI_1290,DNI_1300,DNI_1310,DNI_1320,DNI_1330,DNI_1340,DNI_1350,DNI_1360,DNI_1370,DNI_1380,DNI_1390,DNI_1400,DNI_1410,DNI_1420,DNI_1430,DNI_1440,DNI_1450,DNI_1460,DNI_1470,DNI_1480,DNI_1490,DNI_1500,DNI_1510,DNI_1520,DNI_1530,DNI_1540,DNI_1550,DNI_1560,DNI_1570,DNI_1580,DNI_1590,DNI_1600,DNI_1610,DNI_1620,DNI_1630,DNI_1640,DNI_1650,DNI_1660,DNI_1670,DNI_1680,DNI_1690,DNI_1700,DNI_1710,DNI_1720,DNI_1730,DNI_1740,DNI_1750,DNI_1760,DNI_1770,DNI_1780,DNI_1790,DNI_1800,GHI_300,GHI_310,GHI_320,GHI_330,GHI_340,GHI_350,GHI_360,GHI_370,GHI_380,GHI_390,GHI_400,GHI_410,GHI_420,GHI_430,GHI_440,GHI_450,GHI_460,GHI_470,GHI_480,GHI_490,GHI_500,GHI_510,GHI_520,GHI_530,GHI_540,GHI_550,GHI_560,GHI_570,GHI_580,GHI_590,GHI_600,GHI_610,GHI_620,GHI_630,GHI_640,GHI_650,GHI_660,GHI_670,GHI_680,GHI_690,GHI_700,GHI_710,GHI_720,GHI_730,GHI_740,GHI_750,GHI_760,GHI_770,GHI_780,GHI_790,GHI_800,GHI_810,GHI_820,GHI_830,GHI_840,GHI_850,GHI_860,GHI_870,GHI_880,GHI_890,GHI_900,GHI_910,GHI_920,GHI_930,GHI_940,GHI_950,GHI_960,GHI_970,GHI_980,GHI_990,GHI_1000,GHI_1010,GHI_1020,GHI_1030,GHI_1040,GHI_1050,GHI_1060,GHI_1070,GHI_1080,GHI_1090,GHI_1100,GHI_1110,GHI_1120,GHI_1130,GHI_1140,GHI_1150,GHI_1160,GHI_1170,GHI_1180,GHI_1190,GHI_1200,GHI_1210,GHI_1220,GHI_1230,GHI_1240,GHI_1250,GHI_1260,GHI_1270,GHI_1280,GHI_1290,GHI_1300,GHI_1310,GHI_1320,GHI_1330,GHI_1340,GHI_1350,GHI_1360,GHI_1370,GHI_1380,GHI_1390,GHI_1400,GHI_1410,GHI_1420,GHI_1430,GHI_1440,GHI_1450,GHI_1460,GHI_1470,GHI_1480,GHI_1490,GHI_1500,GHI_1510,GHI_1520,GHI_1530,GHI_1540,GHI_1550,GHI_1560,GHI_1570,GHI_1580,GHI_1590,GHI_1600,GHI_1610,GHI_1620,GHI_1630,GHI_1640,GHI_1650,GHI_1660,GHI_1670,GHI_1680,GHI_1690,GHI_1700,GHI_1710,GHI_1720,GHI_1730,GHI_1740,GHI_1750,GHI_1760,GHI_1770,GHI_1780,GHI_1790,GHI_1800&utc=true</code></div>

# ```json
# {
#   "errors": [],
#   "inputs": {
#     "full_name": "Sample User",
#     "email": "user@company.com",
#     "affiliation": "Test Organization",
#     "reason": "Example",
#     "mailing_list": true,
#     "wkt": "POINT(77.08007%2020.79720)",
#     "names": [
#       "tmy"
#     ],
#     "attributes": [
#       "PW",
#       "AT",
#       "WS",
#       "DNI_300",
#       "DNI_310",
#       "DNI_320",
#       "DNI_330",
#       "DNI_340",
#       "DNI_350",
#       "DNI_360",
#       "DNI_370",
#       "DNI_380",
#       "DNI_390",
#       "DNI_400",
#       "DNI_410",
#       "DNI_420",
#       "DNI_430",
#       "DNI_440",
#       "DNI_450",
#       "DNI_460",
#       "DNI_470",
#       "DNI_480",
#       "DNI_490",
#       "DNI_500",
#       "DNI_510",
#       "DNI_520",
#       "DNI_530",
#       "DNI_540",
#       "DNI_550",
#       "DNI_560",
#       "DNI_570",
#       "DNI_580",
#       "DNI_590",
#       "DNI_600",
#       "DNI_610",
#       "DNI_620",
#       "DNI_630",
#       "DNI_640",
#       "DNI_650",
#       "DNI_660",
#       "DNI_670",
#       "DNI_680",
#       "DNI_690",
#       "DNI_700",
#       "DNI_710",
#       "DNI_720",
#       "DNI_730",
#       "DNI_740",
#       "DNI_750",
#       "DNI_760",
#       "DNI_770",
#       "DNI_780",
#       "DNI_790",
#       "DNI_800",
#       "DNI_810",
#       "DNI_820",
#       "DNI_830",
#       "DNI_840",
#       "DNI_850",
#       "DNI_860",
#       "DNI_870",
#       "DNI_880",
#       "DNI_890",
#       "DNI_900",
#       "DNI_910",
#       "DNI_920",
#       "DNI_930",
#       "DNI_940",
#       "DNI_950",
#       "DNI_960",
#       "DNI_970",
#       "DNI_980",
#       "DNI_990",
#       "DNI_1000",
#       "DNI_1010",
#       "DNI_1020",
#       "DNI_1030",
#       "DNI_1040",
#       "DNI_1050",
#       "DNI_1060",
#       "DNI_1070",
#       "DNI_1080",
#       "DNI_1090",
#       "DNI_1100",
#       "DNI_1110",
#       "DNI_1120",
#       "DNI_1130",
#       "DNI_1140",
#       "DNI_1150",
#       "DNI_1160",
#       "DNI_1170",
#       "DNI_1180",
#       "DNI_1190",
#       "DNI_1200",
#       "DNI_1210",
#       "DNI_1220",
#       "DNI_1230",
#       "DNI_1240",
#       "DNI_1250",
#       "DNI_1260",
#       "DNI_1270",
#       "DNI_1280",
#       "DNI_1290",
#       "DNI_1300",
#       "DNI_1310",
#       "DNI_1320",
#       "DNI_1330",
#       "DNI_1340",
#       "DNI_1350",
#       "DNI_1360",
#       "DNI_1370",
#       "DNI_1380",
#       "DNI_1390",
#       "DNI_1400",
#       "DNI_1410",
#       "DNI_1420",
#       "DNI_1430",
#       "DNI_1440",
#       "DNI_1450",
#       "DNI_1460",
#       "DNI_1470",
#       "DNI_1480",
#       "DNI_1490",
#       "DNI_1500",
#       "DNI_1510",
#       "DNI_1520",
#       "DNI_1530",
#       "DNI_1540",
#       "DNI_1550",
#       "DNI_1560",
#       "DNI_1570",
#       "DNI_1580",
#       "DNI_1590",
#       "DNI_1600",
#       "DNI_1610",
#       "DNI_1620",
#       "DNI_1630",
#       "DNI_1640",
#       "DNI_1650",
#       "DNI_1660",
#       "DNI_1670",
#       "DNI_1680",
#       "DNI_1690",
#       "DNI_1700",
#       "DNI_1710",
#       "DNI_1720",
#       "DNI_1730",
#       "DNI_1740",
#       "DNI_1750",
#       "DNI_1760",
#       "DNI_1770",
#       "DNI_1780",
#       "DNI_1790",
#       "DNI_1800",
#       "GHI_300",
#       "GHI_310",
#       "GHI_320",
#       "GHI_330",
#       "GHI_340",
#       "GHI_350",
#       "GHI_360",
#       "GHI_370",
#       "GHI_380",
#       "GHI_390",
#       "GHI_400",
#       "GHI_410",
#       "GHI_420",
#       "GHI_430",
#       "GHI_440",
#       "GHI_450",
#       "GHI_460",
#       "GHI_470",
#       "GHI_480",
#       "GHI_490",
#       "GHI_500",
#       "GHI_510",
#       "GHI_520",
#       "GHI_530",
#       "GHI_540",
#       "GHI_550",
#       "GHI_560",
#       "GHI_570",
#       "GHI_580",
#       "GHI_590",
#       "GHI_600",
#       "GHI_610",
#       "GHI_620",
#       "GHI_630",
#       "GHI_640",
#       "GHI_650",
#       "GHI_660",
#       "GHI_670",
#       "GHI_680",
#       "GHI_690",
#       "GHI_700",
#       "GHI_710",
#       "GHI_720",
#       "GHI_730",
#       "GHI_740",
#       "GHI_750",
#       "GHI_760",
#       "GHI_770",
#       "GHI_780",
#       "GHI_790",
#       "GHI_800",
#       "GHI_810",
#       "GHI_820",
#       "GHI_830",
#       "GHI_840",
#       "GHI_850",
#       "GHI_860",
#       "GHI_870",
#       "GHI_880",
#       "GHI_890",
#       "GHI_900",
#       "GHI_910",
#       "GHI_920",
#       "GHI_930",
#       "GHI_940",
#       "GHI_950",
#       "GHI_960",
#       "GHI_970",
#       "GHI_980",
#       "GHI_990",
#       "GHI_1000",
#       "GHI_1010",
#       "GHI_1020",
#       "GHI_1030",
#       "GHI_1040",
#       "GHI_1050",
#       "GHI_1060",
#       "GHI_1070",
#       "GHI_1080",
#       "GHI_1090",
#       "GHI_1100",
#       "GHI_1110",
#       "GHI_1120",
#       "GHI_1130",
#       "GHI_1140",
#       "GHI_1150",
#       "GHI_1160",
#       "GHI_1170",
#       "GHI_1180",
#       "GHI_1190",
#       "GHI_1200",
#       "GHI_1210",
#       "GHI_1220",
#       "GHI_1230",
#       "GHI_1240",
#       "GHI_1250",
#       "GHI_1260",
#       "GHI_1270",
#       "GHI_1280",
#       "GHI_1290",
#       "GHI_1300",
#       "GHI_1310",
#       "GHI_1320",
#       "GHI_1330",
#       "GHI_1340",
#       "GHI_1350",
#       "GHI_1360",
#       "GHI_1370",
#       "GHI_1380",
#       "GHI_1390",
#       "GHI_1400",
#       "GHI_1410",
#       "GHI_1420",
#       "GHI_1430",
#       "GHI_1440",
#       "GHI_1450",
#       "GHI_1460",
#       "GHI_1470",
#       "GHI_1480",
#       "GHI_1490",
#       "GHI_1500",
#       "GHI_1510",
#       "GHI_1520",
#       "GHI_1530",
#       "GHI_1540",
#       "GHI_1550",
#       "GHI_1560",
#       "GHI_1570",
#       "GHI_1580",
#       "GHI_1590",
#       "GHI_1600",
#       "GHI_1610",
#       "GHI_1620",
#       "GHI_1630",
#       "GHI_1640",
#       "GHI_1650",
#       "GHI_1660",
#       "GHI_1670",
#       "GHI_1680",
#       "GHI_1690",
#       "GHI_1700",
#       "GHI_1710",
#       "GHI_1720",
#       "GHI_1730",
#       "GHI_1740",
#       "GHI_1750",
#       "GHI_1760",
#       "GHI_1770",
#       "GHI_1780",
#       "GHI_1790",
#       "GHI_1800"
#     ],
#     "utc": true
#   },
#   "outputs": {
#     "message": "File generation in progress. An email will be sent to user@company.com when the download is ready."
#   }
# }
# ```

# ### CSV Output Format
# Direct streaming of CSV data is supported for single location, single year only. The following response example is truncated after the first few rows of data.

# <div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?api_key=DEMO_KEY&full_name=Sample+User&email=user@company.com&affiliation=Test+Organization&reason=Example&mailing_list=true&wkt=POINT(77.08007%2020.79720)&names=tmy&attributes=PW,AT,WS,DNI_300,DNI_310,DNI_320,DNI_330,DNI_340,DNI_350,DNI_360,DNI_370,DNI_380,DNI_390,DNI_400,DNI_410,DNI_420,DNI_430,DNI_440,DNI_450,DNI_460,DNI_470,DNI_480,DNI_490,DNI_500,DNI_510,DNI_520,DNI_530,DNI_540,DNI_550,DNI_560,DNI_570,DNI_580,DNI_590,DNI_600,DNI_610,DNI_620,DNI_630,DNI_640,DNI_650,DNI_660,DNI_670,DNI_680,DNI_690,DNI_700,DNI_710,DNI_720,DNI_730,DNI_740,DNI_750,DNI_760,DNI_770,DNI_780,DNI_790,DNI_800,DNI_810,DNI_820,DNI_830,DNI_840,DNI_850,DNI_860,DNI_870,DNI_880,DNI_890,DNI_900,DNI_910,DNI_920,DNI_930,DNI_940,DNI_950,DNI_960,DNI_970,DNI_980,DNI_990,DNI_1000,DNI_1010,DNI_1020,DNI_1030,DNI_1040,DNI_1050,DNI_1060,DNI_1070,DNI_1080,DNI_1090,DNI_1100,DNI_1110,DNI_1120,DNI_1130,DNI_1140,DNI_1150,DNI_1160,DNI_1170,DNI_1180,DNI_1190,DNI_1200,DNI_1210,DNI_1220,DNI_1230,DNI_1240,DNI_1250,DNI_1260,DNI_1270,DNI_1280,DNI_1290,DNI_1300,DNI_1310,DNI_1320,DNI_1330,DNI_1340,DNI_1350,DNI_1360,DNI_1370,DNI_1380,DNI_1390,DNI_1400,DNI_1410,DNI_1420,DNI_1430,DNI_1440,DNI_1450,DNI_1460,DNI_1470,DNI_1480,DNI_1490,DNI_1500,DNI_1510,DNI_1520,DNI_1530,DNI_1540,DNI_1550,DNI_1560,DNI_1570,DNI_1580,DNI_1590,DNI_1600,DNI_1610,DNI_1620,DNI_1630,DNI_1640,DNI_1650,DNI_1660,DNI_1670,DNI_1680,DNI_1690,DNI_1700,DNI_1710,DNI_1720,DNI_1730,DNI_1740,DNI_1750,DNI_1760,DNI_1770,DNI_1780,DNI_1790,DNI_1800,GHI_300,GHI_310,GHI_320,GHI_330,GHI_340,GHI_350,GHI_360,GHI_370,GHI_380,GHI_390,GHI_400,GHI_410,GHI_420,GHI_430,GHI_440,GHI_450,GHI_460,GHI_470,GHI_480,GHI_490,GHI_500,GHI_510,GHI_520,GHI_530,GHI_540,GHI_550,GHI_560,GHI_570,GHI_580,GHI_590,GHI_600,GHI_610,GHI_620,GHI_630,GHI_640,GHI_650,GHI_660,GHI_670,GHI_680,GHI_690,GHI_700,GHI_710,GHI_720,GHI_730,GHI_740,GHI_750,GHI_760,GHI_770,GHI_780,GHI_790,GHI_800,GHI_810,GHI_820,GHI_830,GHI_840,GHI_850,GHI_860,GHI_870,GHI_880,GHI_890,GHI_900,GHI_910,GHI_920,GHI_930,GHI_940,GHI_950,GHI_960,GHI_970,GHI_980,GHI_990,GHI_1000,GHI_1010,GHI_1020,GHI_1030,GHI_1040,GHI_1050,GHI_1060,GHI_1070,GHI_1080,GHI_1090,GHI_1100,GHI_1110,GHI_1120,GHI_1130,GHI_1140,GHI_1150,GHI_1160,GHI_1170,GHI_1180,GHI_1190,GHI_1200,GHI_1210,GHI_1220,GHI_1230,GHI_1240,GHI_1250,GHI_1260,GHI_1270,GHI_1280,GHI_1290,GHI_1300,GHI_1310,GHI_1320,GHI_1330,GHI_1340,GHI_1350,GHI_1360,GHI_1370,GHI_1380,GHI_1390,GHI_1400,GHI_1410,GHI_1420,GHI_1430,GHI_1440,GHI_1450,GHI_1460,GHI_1470,GHI_1480,GHI_1490,GHI_1500,GHI_1510,GHI_1520,GHI_1530,GHI_1540,GHI_1550,GHI_1560,GHI_1570,GHI_1580,GHI_1590,GHI_1600,GHI_1610,GHI_1620,GHI_1630,GHI_1640,GHI_1650,GHI_1660,GHI_1670,GHI_1680,GHI_1690,GHI_1700,GHI_1710,GHI_1720,GHI_1730,GHI_1740,GHI_1750,GHI_1760,GHI_1770,GHI_1780,GHI_1790,GHI_1800&utc=true</code>
# </div>

# ```csv
# Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone, DNI Units, GHI Units, Version
# NSRDB,422,-,-,-,20.79720,77.08007,-7,1446,-7,w/m2,w/m2,1.0.0
# Year,Month,Day,Hour,Minute,Precip water (cm),hr mean ambient tmp,Wind speed (M/s),DNI for 300nm,DNI for 310nm,DNI for 320nm,DNI for 330nm,DNI for 340nm,DNI for 350nm,DNI for 360nm,DNI for 370nm,DNI for 380nm,DNI for 390nm,DNI for 400nm,DNI for 410nm,DNI for 420nm,DNI for 430nm,DNI for 440nm,DNI for 450nm,DNI for 460nm,DNI for 470nm,DNI for 480nm,DNI for 490nm,DNI for 500nm,DNI for 510nm,DNI for 520nm,DNI for 530nm,DNI for 540nm,DNI for 550nm,DNI for 560nm,DNI for 570nm,DNI for 580nm,DNI for 590nm,DNI for 600nm,DNI for 610nm,DNI for 620nm,DNI for 630nm,DNI for 640nm,DNI for 650nm,DNI for 660nm,DNI for 670nm,DNI for 680nm,DNI for 690nm,DNI for 700nm,DNI for 710nm,DNI for 720nm,DNI for 730nm,DNI for 740nm,DNI for 750nm,DNI for 760nm,DNI for 770nm,DNI for 780nm,DNI for 790nm,DNI for 800nm,DNI for 810nm,DNI for 820nm,DNI for 830nm,DNI for 840nm,DNI for 850nm,DNI for 860nm,DNI for 870nm,DNI for 880nm,DNI for 890nm,DNI for 900nm,DNI for 910nm,DNI for 920nm,DNI for 930nm,DNI for 940nm,DNI for 950nm,DNI for 960nm,DNI for 970nm,DNI for 980nm,DNI for 990nm,DNI for 1000nm,DNI for 1010nm,DNI for 1020nm,DNI for 1030nm,DNI for 1040nm,DNI for 1050nm,DNI for 1060nm,DNI for 1070nm,DNI for 1080nm,DNI for 1090nm,DNI for 1100nm,DNI for 1110nm,DNI for 1120nm,DNI for 1130nm,DNI for 1140nm,DNI for 1150nm,DNI for 1160nm,DNI for 1170nm,DNI for 1180nm,DNI for 1190nm,DNI for 1200nm,DNI for 1210nm,DNI for 1220nm,DNI for 1230nm,DNI for 1240nm,DNI for 1250nm,DNI for 1260nm,DNI for 1270nm,DNI for 1280nm,DNI for 1290nm,DNI for 1300nm,DNI for 1310nm,DNI for 1320nm,DNI for 1330nm,DNI for 1340nm,DNI for 1350nm,DNI for 1360nm,DNI for 1370nm,DNI for 1380nm,DNI for 1390nm,DNI for 1400nm,DNI for 1410nm,DNI for 1420nm,DNI for 1430nm,DNI for 1440nm,DNI for 1450nm,DNI for 1460nm,DNI for 1470nm,DNI for 1480nm,DNI for 1490nm,DNI for 1500nm,DNI for 1510nm,DNI for 1520nm,DNI for 1530nm,DNI for 1540nm,DNI for 1550nm,DNI for 1560nm,DNI for 1570nm,DNI for 1580nm,DNI for 1590nm,DNI for 1600nm,DNI for 1610nm,DNI for 1620nm,DNI for 1630nm,DNI for 1640nm,DNI for 1650nm,DNI for 1660nm,DNI for 1670nm,DNI for 1680nm,DNI for 1690nm,DNI for 1700nm,DNI for 1710nm,DNI for 1720nm,DNI for 1730nm,DNI for 1740nm,DNI for 1750nm,DNI for 1760nm,DNI for 1770nm,DNI for 1780nm,DNI for 1790nm,DNI for 1800nm,GHI for 300nm,GHI for 310nm,GHI for 320nm,GHI for 330nm,GHI for 340nm,GHI for 350nm,GHI for 360nm,GHI for 370nm,GHI for 380nm,GHI for 390nm,GHI for 400nm,GHI for 410nm,GHI for 420nm,GHI for 430nm,GHI for 440nm,GHI for 450nm,GHI for 460nm,GHI for 470nm,GHI for 480nm,GHI for 490nm,GHI for 500nm,GHI for 510nm,GHI for 520nm,GHI for 530nm,GHI for 540nm,GHI for 550nm,GHI for 560nm,GHI for 570nm,GHI for 580nm,GHI for 590nm,GHI for 600nm,GHI for 610nm,GHI for 620nm,GHI for 630nm,GHI for 640nm,GHI for 650nm,GHI for 660nm,GHI for 670nm,GHI for 680nm,GHI for 690nm,GHI for 700nm,GHI for 710nm,GHI for 720nm,GHI for 730nm,GHI for 740nm,GHI for 750nm,GHI for 760nm,GHI for 770nm,GHI for 780nm,GHI for 790nm,GHI for 800nm,GHI for 810nm,GHI for 820nm,GHI for 830nm,GHI for 840nm,GHI for 850nm,GHI for 860nm,GHI for 870nm,GHI for 880nm,GHI for 890nm,GHI for 900nm,GHI for 910nm,GHI for 920nm,GHI for 930nm,GHI for 940nm,GHI for 950nm,GHI for 960nm,GHI for 970nm,GHI for 980nm,GHI for 990nm,GHI for 1000nm,GHI for 1010nm,GHI for 1020nm,GHI for 1030nm,GHI for 1040nm,GHI for 1050nm,GHI for 1060nm,GHI for 1070nm,GHI for 1080nm,GHI for 1090nm,GHI for 1100nm,GHI for 1110nm,GHI for 1120nm,GHI for 1130nm,GHI for 1140nm,GHI for 1150nm,GHI for 1160nm,GHI for 1170nm,GHI for 1180nm,GHI for 1190nm,GHI for 1200nm,GHI for 1210nm,GHI for 1220nm,GHI for 1230nm,GHI for 1240nm,GHI for 1250nm,GHI for 1260nm,GHI for 1270nm,GHI for 1280nm,GHI for 1290nm,GHI for 1300nm,GHI for 1310nm,GHI for 1320nm,GHI for 1330nm,GHI for 1340nm,GHI for 1350nm,GHI for 1360nm,GHI for 1370nm,GHI for 1380nm,GHI for 1390nm,GHI for 1400nm,GHI for 1410nm,GHI for 1420nm,GHI for 1430nm,GHI for 1440nm,GHI for 1450nm,GHI for 1460nm,GHI for 1470nm,GHI for 1480nm,GHI for 1490nm,GHI for 1500nm,GHI for 1510nm,GHI for 1520nm,GHI for 1530nm,GHI for 1540nm,GHI for 1550nm,GHI for 1560nm,GHI for 1570nm,GHI for 1580nm,GHI for 1590nm,GHI for 1600nm,GHI for 1610nm,GHI for 1620nm,GHI for 1630nm,GHI for 1640nm,GHI for 1650nm,GHI for 1660nm,GHI for 1670nm,GHI for 1680nm,GHI for 1690nm,GHI for 1700nm,GHI for 1710nm,GHI for 1720nm,GHI for 1730nm,GHI for 1740nm,GHI for 1750nm,GHI for 1760nm,GHI for 1770nm,GHI for 1780nm,GHI for 1790nm,GHI for 1800nm
# 2004,1,1,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
# 2004,1,1,1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
# 2004,1,1,2,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
# 2004,1,1,3,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
# 2004,1,1,4,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
# ```

# ### POST request example in Python

# ```python
# import requests

# url = "http://developer.nrel.gov<%= current_page.data.url %>.json?api_key=yourapikeygoeshere"

# payload = "names=2012&leap_day=false&interval=60&utc=false&full_name=Honored%2BUser&email=honored.user%40gmail.com&affiliation=NREL&mailing_list=true&reason=Academic&attributes=dhi%2Cdni%2Cwind_speed_10m_nwp%2Csurface_air_temperature_nwp&wkt=MULTIPOINT(-106.22%2032.9741%2C-106.18%2032.9741%2C-106.1%2032.9741)"

# headers = {
#     'content-type': "application/x-www-form-urlencoded",
#     'cache-control': "no-cache"
# }

# response = requests.request("POST", url, data=payload, headers=headers)

# print(response.text)
# ```

# <h2 id="rate-limits">Rate Limits</h2>

# Rate limits for this application are significantly less than the [standard rate limits](/docs/rate-limits){:target="_blank"} for developer.nrel.gov. This decrease in the limit is required as the data provided through this service is significantly more computationally intensive to generate and provide. These rate limits are carefully calculated to allow all users the maximum throughput that our servers can sustain.

# There are several levels of rate limiting for this service. The first limit determines how many requests a given user can make per 24 hour period. For requests utilizing the <em>.csv</em> format this rate limit is set at 5000 a day at a frequency of no more than 1 per second. For all other requests this limit is set at 1000 requests per day at a frequency of no more than 1 every 2 seconds.

# Secondly each user is limited to 20 in-flight requests at any given time.

# In addition, the service has a fail-safe mechanism to prevent significant performance decreases that can be caused by unexpectedly high usage of the service. This limit will cause the service to stop accepting requests when the queue reaches a point where additional requests will significantly lower server performance. When this limit is hit, the service will error with a message describing that the request queue is full.

# For some tips and tricks to maximize data downloads please read the guide [here](/docs/solar/nsrdb/guide).

# <h2 id="contacts">Contact</h2>

# <p>For questions about the API or the data models please contact <a href="mailto:nsrdb@nrel.gov">nsrdb@nrel.gov</a></p>

# <h2 id="errors">Errors</h2>

# <p><a href="/docs/errors/">Standard errors</a> may be returned. In addition, the following service-specific errors may be returned:</p>

# <table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
#   <thead>
#     <tr>
#       <th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
#       <th class="doc-parameters-required" scope="col">Description</th>
#     </tr>
#   </thead>
#   <tbody>
#     <tr>
#       <th class="doc-parameter-name" scope="row">400</th>
#       <td class="doc-parameter-description">Bad Request: When required parameters are missing.</td>
#     </tr>
#   </tbody>
# </table>
