---
title: SUNY International Data
summary: "The SUNY International Data is developed using Perez model from 2000-2014. The resolution of the data is 10 km hourly."
detail: This API is capable of creating very large downloadable archives. Unlike a typical API, the response to this provides a request acknowledgement. The real work of creating the requested downloadable archive will continue to run on the server side. When complete, and email will be sent to the email address provided in the initial request with a link to a file to download. In addition to this two step workflow, there is also an option for users who wish to download a single CSV file in direct response to an API request. The <em>.csv</em> format may be used to download a CSV directly. This feature is restricted to use with only a single POINT, for a single YEAR at a time.<br>Read more about the datasets at [https://nsrdb.nrel.gov](https://nsrdb.nrel.gov)
url: /api/nsrdb/v2/solar/suny-india-download
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

<ul id="toc"></ul>

## Request URL

<pre>GET|POST <%= current_page.data.url %><em>.format?parameters</em></pre>

## Request Parameters
_NOTE: when using POST to submit a request the api_key must still be included as a query parameter in the url. All other parameters may be included in a POST request as part of the payload._

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">api_key</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        <p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">wkt</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> well-known text string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        A well-known text (WKT) representation of the geometry for which to extract data. May be a point, multipoint, or polygon geometry. When a point is passed the site nearest to that point is used. When a multipoint is passed the site nearest each point is used. This can be useful for downloading multiple sites in a single request when those sites are geographically distant from each other. When a polygon is passed all sites that intersect with the given polygon are used.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">attributes</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited string array</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> Returns ALL</div>
        <div class="doc-parameter-value-field"><strong>Options:</strong> <em>dhi, dni, ghi, clearsky_dhi, clearsky_dni, clearsky_ghi, dew_point, surface_temperature, surface_pressure, relative_humidity, solar_zenith_angle, total_precipitable_water, snow_depth, wdir, wspd, fill_flag</em></div>
      </td>
      <td class="doc-parameter-description">
        Each specified attribute(*) will be returned as a column in the resultant CSV download.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">names</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited string array</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
        <div class="doc-parameter-value-field"><strong>Options:</strong> <em>2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014</em></div>
      </td>
      <td class="doc-parameter-description">The year(s) for which data should be extracted.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">utc</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> true</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data with timestamps in UTC. Pass false to retrieve data with timestamps converted to local time of data point (without daylight savings time).
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">leap_day</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> false</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data including leap day (where appropriate). Pass false to retrieve data excluding leap day.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">full_name</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">The full name of the user requesting data.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">email</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> email string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        An active email for the user requesting data. This email will be used to deliver the extracted data.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">affiliation</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">
        The organization with which the user requesting the data is affiliated.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">reason</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> string</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
      </td>
      <td class="doc-parameter-description">The reason that the user is requesting the data.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">mailing_list</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> false</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to add the email address to our list of recipients for the NSRDB mailing list.
      </td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of service-related informational fields and the results of the data query.

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">errors</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
      </td>
      <td class="doc-parameter-description">
      <p>A list of error messages</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">warnings</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
      </td>
      <td class="doc-parameter-description">
      <p>A list of warning messages</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">inputs</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
      </td>
      <td class="doc-parameter-description">Key: Value pairs representing all input parameters</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">outputs</th>
      <td class="doc-parameter-value">
      <div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
      </td>
      <td class="doc-parameter-description">Upon successful completion a message will be returned informing the user that file generation is in progress and an email will be sent to the address provided in the <code>email</code> input field when the download is ready</td>
    </tr>
  </tbody>
</table>

## Data File Format

Generated data files are formatted in accordance with the Standard Time Series Data File Format. This file format has been developed to support [SAM](https://sam.nrel.gov/) and other NREL models and is documented fully in [this PDF](https://sam.nrel.gov/sites/default/files/content/documents/pdf/wfcsv.pdf). More information on SAM file formats avaialable on [the SAM weather page](https://sam.nrel.gov/weather).

## Examples

### JSON Output Format

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?api_key=DEMO_KEY&full_name=Sample+User&email=user@company.com&affiliation=Test+Organization&reason=Example&mailing_list=true&wkt=POINT(77.1679+22.1059)&names=2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014&attributes=dhi,dni,ghi,clearsky_dhi,clearsky_dni,clearsky_ghi,dew_point,surface_temperature,surface_pressure,relative_humidity,solar_zenith_angle,total_precipitable_water,snow_depth,wdir,wspd,fill_flag&leap_day=true&utc=true</code></div>

```json
{
  "errors": [],
  "inputs": {
    "full_name": "Sample User",
    "email": "user@company.com",
    "affiliation": "Test Organization",
    "reason": "Example",
    "mailing_list": true,
    "wkt": "POINT(77.1679 22.1059)",
    "names": [
      2000,
      2001,
      2002,
      2003,
      2004,
      2005,
      2006,
      2007,
      2008,
      2009,
      2010,
      2011,
      2012,
      2013,
      2014
    ],
    "attributes": [
      "dhi",
      "dni",
      "ghi",
      "clearsky_dhi",
      "clearsky_dni",
      "clearsky_ghi",
      "dew_point",
      "surface_temperature",
      "surface_pressure",
      "relative_humidity",
      "solar_zenith_angle",
      "total_precipitable_water",
      "snow_depth",
      "wdir",
      "wspd",
      "fill_flag"
    ],
    "leap_day": true,
    "utc": true
  },
  "outputs": {
    "message": "File generation in progress. An email will be sent to user@company.com when the download is ready."
  }
}
```


### CSV Output Format
Direct streaming of CSV data is supported for single location, single year only. The following response example is truncated after the first few rows of data.

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.csv?api_key=DEMO_KEY&full_name=Sample+User&email=user@company.com&affiliation=Test+Organization&reason=Example&mailing_list=true&wkt=POINT(77.1679+22.1059)&names=2014&attributes=dhi,dni,ghi,clearsky_dhi,clearsky_dni,clearsky_ghi,dew_point,surface_temperature,surface_pressure,relative_humidity,solar_zenith_angle,total_precipitable_water,snow_depth,wdir,wspd,fill_flag&leap_day=true&utc=true</code>
</div>

```csv
Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,Clearsky DHI Units,Clearsky DNI Units,Clearsky GHI Units,Dew Point Units,DHI Units,DHI Perez Units,DNI Units,DNI Perez Units,GHI Units,GHI Perez Units,Solar Zenith Angle Units,Temperature Units,Pressure Units,Relative Humidity Units,Precipitable Water Units,Wind Direction Units,Wind Speed,Snow Depth Units,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Version
SUNY,33501,-,-,India,22.15,77.15,5.5,0,5.5,w/m2,w/m2,w/m2,c,w/m2,w/m2,w/m2,w/m2,w/m2,w/m2,Degree,c,mbar,%,cm,Degrees,m/s,m,N/A,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,unknown
Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,Clearsky GHI,Dew Point,Temperature,Pressure,Relative Humidity,Solar Zenith Angle,Precipitable Water,Snow Depth,Wind Direction,Wind Speed,Fill Flag
2014,1,1,0,30,0,0,0,0,0,0,14,16.47976668350998,957.29052734375,88.69062892874075,178.4399289152124,3.39628712216515,0.0,83.87632751464844,4.2341179847717285,0
2014,1,1,1,30,0,0,0,0,0,0,13,15.987188491776749,956.80224609375,85.14938602830908,164.86951107866696,3.3006869218831145,0.0,86.55764770507812,4.18628454208374,0
2014,1,1,2,30,0,0,0,0,0,0,12,15.359040147303233,956.5980224609375,81.51539815806217,151.086253882428,3.2373690305578045,0.0,89.92627716064453,4.227694511413574,0
2014,1,1,3,30,0,0,0,0,0,0,11,14.77144739448812,956.3435668945312,78.51227582841601,137.37467494386823,3.2059468830530906,0.0,91.70454406738281,4.318395614624023,0
2014,1,1,4,30,0,0,0,0,0,0,10,14.242177439958198,956.3328857421875,77.51181158895145,123.79217306828413,3.1870729603324928,0.0,92.20526123046875,4.416075229644775,0
2014,1,1,5,30,0,0,0,0,0,0,16,16.524048805397967,962.5562133789062,97.49470421015157,110.43025195692199,2.826178103165718,0.0,42.89505386352539,1.7120459079742432,0
2014,1,1,6,30,0,0,0,0,0,0,16,16.530274709013895,963.3072509765625,97.65819752937783,97.34745402205948,2.8358923691378823,0.0,52.19453048706055,1.7329479455947876,0
```

### POST request example in Python

```python
import requests

url = "https://developer.nrel.gov<%= current_page.data.url %>.json?api_key=yourapikeygoeshere"

payload = "names=2012&leap_day=false&interval=60&utc=false&full_name=Honored%2BUser&email=honored.user%40gmail.com&affiliation=NREL&mailing_list=true&reason=Academic&attributes=dhi%2Cdni%2Cwind_speed_10m_nwp%2Csurface_air_temperature_nwp&wkt=MULTIPOINT(-106.22%2032.9741%2C-106.18%2032.9741%2C-106.1%2032.9741)"

headers = {
    'content-type': "application/x-www-form-urlencoded",
    'cache-control': "no-cache"
}

response = requests.request("POST", url, data=payload, headers=headers)

print(response.text)
```

<h2 id="rate-limits">Rate Limits</h2>

Rate limits for this application are significantly less than the [standard rate limits](/docs/rate-limits){:target="_blank"} for developer.nrel.gov. This decrease in the limit is required as the data provided through this service is significantly more computationally intensive to generate and provide. These rate limits are carefully calculated to allow all users the maximum throughput that our servers can sustain.

There are several levels of rate limiting for this service. The first limit determines how many requests a given user can make per 24 hour period. For requests utilizing the <em>.csv</em> format this rate limit is set at 5000 a day at a frequency of no more than 1 per second. For all other requests this limit is set at 1000 requests per day at a frequency of no more than 1 every 2 seconds.

Secondly each user is limited to 20 in-flight requests at any given time.

In addition, the service has a fail-safe mechanism to prevent significant performance decreases that can be caused by unexpectedly high usage of the service. This limit will cause the service to stop accepting requests when the queue reaches a point where additional requests will significantly lower server performance. When this limit is hit, the service will error with a message describing that the request queue is full.

For some tips and tricks to maximize data downloads please read the guide [here](/docs/solar/nsrdb/guide).

<h2 id="contacts">Contact</h2>

<p>For questions about the API or the data models please contact <a href="mailto:nsrdb@nrel.gov">nsrdb@nrel.gov</a></p>

<h2 id="errors">Errors</h2>

<p><a href="/docs/errors/">Standard errors</a> may be returned. In addition, the following service-specific errors may be returned:</p>

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">400</th>
      <td class="doc-parameter-description">Bad Request: When required parameters are missing.</td>
    </tr>
  </tbody>
</table>
