---
title: Central Asia
summary: Collect and download, as CSV, a configurable set of data fields from a multi-national collection of wind stations. This data represents wind-speed, temperature, and direction values at 80m, 100m, and 120m above the surface and air pressure at the surface, 100m, and 200m above the surface for the year 2015 produced using WRF v3.7. The model time resolution used was 15 minutes with a nominal spatial resolution of 3 km2 over Kazakhstan and 9 km2 over the surrounding region. For the U and V components used to derive the wind speed, a total of 41 pressure levels were used.
detail: This API is capable of creating very large downloadable archives. Unlike a typical API, the response to this provides a request acknowledgement. The real work of creating the requested downloadable archive will continue to run on the server side. When complete, and email will be sent to the email address provided in the initial request with a link to a file to download. In addition to this two step workflow, there is also an option for users who wish to download a single CSV file in direct response to an API request. The <em>.csv</em> format may be used to download a CSV directly. This feature is restricted to use with only a single POINT, for a single year at a time.
url: /api/wind-toolkit/v2/wind/central-asia-wind-download
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

<%= current_page.data.detail %>

<ul id="toc"></ul>

## Request URL

<pre>GET <%= current_page.data.url %><em>.format?parameters</em></pre>

## Request Parameters

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
    <thead>
		<tr>
			<th class="doc-parameters-name" scope="col">Parameter</th>
			<th class="doc-parameters-required" scope="col">Required</th>
			<th class="doc-parameters-value" scope="col">Value</th>
			<th class="doc-parameters-description" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">api_key</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
			</td>
			<td class="doc-parameter-description">
			<p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
			</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">wkt</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> well-known text point string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
			</td>
			<td class="doc-parameter-description">A well-known text (WKT) representation of the geometry for which to extract data. May be a point or polygon geometry.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">attributes</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited string array</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field"><strong>Options:</strong> <em>pressure_0m, temperature_80m, winddirection_80m, windspeed_80m, pressure_100m, temperature_100m, winddirection_100m, windspeed_100m, pressure_200m, temperature_120m, winddirection_120m, windspeed_120m</em></div>
			</td>
			<td class="doc-parameter-description">Each specified attribute will be returned as a column in the resultant CSV download.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">names</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited integer array</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The year(s) for which data should be extracted.</td>
		</tr>
    <tr>
      <th class="doc-parameter-name" scope="row">interval</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> integer</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> 60</div>
        <div class="doc-parameter-value-field"><strong>Options:</strong> <em>15, 30, 60</em></div>
      </td>
      <td class="doc-parameter-description">
        Desired data timestep resolution in minutes.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">utc</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> true</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data with timestamps in UTC. Pass false to retrieve data with timestamps converted to local time of data point (without daylight savings time).
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">leap_day</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> false</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data including leap day (where appropriate). Pass false to retrieve data excluding leap day.
      </td>
    </tr>
		<tr>
			<th class="doc-parameter-name" scope="row">full_name</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The full name of the user requesting data.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">email</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> email string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">An active email for the user requesting data. This email will be used to deliver the extracted data.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">affiliation</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The organization with which the user requesting the data is affiliated.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">reason</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The reason that the user is requesting the data.</td>
		</tr>
	</tbody>
</table>

## Response Fields

The response is composed of service-related informational fields and the results of the data query.

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
	<thead>
		<tr>
			<th class="doc-parameters-name" scope="col">Field</th>
			<th class="doc-parameters-value" scope="col">Value</th>
			<th class="doc-parameters-description" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">errors</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
			</td>
			<td class="doc-parameter-description">
			<p>A list of error messages</p>
			</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">inputs</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
			</td>
			<td class="doc-parameter-description">Key: Value pairs representing all input parameters</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">outputs</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
			</td>
			<td class="doc-parameter-description">Upon successful completion a message will be returned informing the user that file generation is in progress and an email will be sent to the address provided in the <code>email</code> input field when the download is ready</td>
		</tr>
	</tbody>
</table>

<h2>Examples</h2>

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?wkt=POINT(55.81054%2046.01222)&attributes=temperature_100m%2Ctemperature_120m%2Ctemperature_80m%2Cwinddirection_100m%2Cwinddirection_120m%2Cwinddirection_80m%2Cwindspeed_100m%2Cwindspeed_120m%2Cwindspeed_80m%2Cpressure_200m%2Cpressure_100m%2Cpressure_0m&names=2015&full_name=Data%20Lover&email=data.lover%40gmail.com&affiliation=NREL&mailing_list=false&reason=test&leap_day=true&utc=false&interval=15&csv_format=csv</code></div>

```JSON
{
  "errors": [],
  "inputs": {
    "wkt": "POINT(55.810546875 46.01222384063236)",
    "attributes": [
      "temperature_100m",
      "temperature_120m",
      "temperature_80m",
      "winddirection_100m",
      "winddirection_120m",
      "winddirection_80m",
      "windspeed_100m",
      "windspeed_120m",
      "windspeed_80m",
      "pressure_200m",
      "pressure_100m",
      "pressure_0m"
    ],
    "names": [
      2015
    ],
    "site_url": "wind-toolkit/wind/central_asia_wind_download.json",
    "full_name": "Data Lover",
    "email": "user@company.com",
    "affiliation": "NREL",
    "mailing_list": false,
    "reason": "test",
    "leap_day": true,
    "utc": false,
    "interval": 15,
    "csv_format": "csv"
  },
  "outputs": {
    "message": "File generation in progress. An email will be sent to user@company.com when the download is ready."
  }
}
```

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.csv?wkt=POINT(55.81054%2046.01222)&attributes=temperature_100m%2Ctemperature_120m%2Ctemperature_80m%2Cwinddirection_100m%2Cwinddirection_120m%2Cwinddirection_80m%2Cwindspeed_100m%2Cwindspeed_120m%2Cwindspeed_80m%2Cpressure_200m%2Cpressure_100m%2Cpressure_0m&names=2015&full_name=Data%20Lover&email=data.lover%40gmail.com&affiliation=NREL&mailing_list=false&reason=test&leap_day=true&utc=false&interval=15&csv_format=csv</code></div>

```csv
SiteID, 189730.0
Longitude, 55.792724609375
Latitude, 46.02188491821289
Local Time Zone, 5.0
Data Time Zone, 5.0
Elevation, 35.0
Year,Month,Day,Hour,Minute,Temperature at 100m (C),Temperature at 120m (C),Temperature at 80m (C),Wind Direction at 100m (Degrees),Wind Direction at 120m (Degrees),Wind Direction at 80m (Degrees),Wind Speed at 100m (m/s),Wind Speed at 120m (m/s),Wind Speed at 80m (m/s),Pressure at 200m (atm),Pressure at 100m (atm),Pressure at 0m (atm)
2015,1,1,0,0,4.46,4.32,4.59,118.51,118.88,118.14,19.27,19.78,18.76,0.9695500000000001,0.9814900000000001,0.9939300000000001
2015,1,1,0,15,4.53,4.39,4.67,120.06,120.4,119.72,18.73,19.25,18.19,0.9695500000000001,0.9815900000000001,0.9939300000000001
2015,1,1,0,30,4.63,4.5,4.76,117.59,118.07000000000001,117.11,19.900000000000002,20.46,19.34,0.96886,0.9808000000000001,0.99304
```

<h2 id="rate-limits">Rate Limits</h2>

Rate limits for this application are significantly less than the [standard rate limits](/docs/rate-limits){:target="_blank"} for developer.nrel.gov. This decrease in the limit is required as the data provided through this service is significantly more computationally intensive to generate and provide. These rate limits are carefully calculated to allow all users the maximum throughput that our servers can sustain.

There are several levels of rate limiting for this service. The first limit determines how many requests a given user can make per 24 hour period. For requests utilizing the <em>.csv</em> format this rate limit is set at 5000 a day at a frequency of no more than 1 per second. For all other requests this limit is set at 1000 requests per day at a frequency of no more than 1 every 2 seconds.

Secondly each user is limited to 20 in-flight requests at any given time.

In addition, the service has a fail-safe mechanism to prevent significant performance decreases that can be caused by unexpectedly high usage of the service. This limit will cause the service to stop accepting requests when the queue reaches a point where additional requests will significantly lower server performance. When this limit is hit, the service will error with a message describing that the request queue is full.

For some tips and tricks to maximize data downloads please read the guide [here](/docs/wind/wind-toolkit/guide).

<h2 id="contacts">Contact</h2>

<p>For questions about the API or the data models please contact <a href="mailto:WindToolkit@nrel.gov">WindToolkit@nrel.gov</a></p>

<h2 id="errors">Errors</h2>

<p><a href="/docs/errors/">Standard errors</a> may be returned. In addition, the following service-specific errors may be returned:</p>

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
	<thead>
		<tr>
			<th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
			<th class="doc-parameters-required" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">400</th>
			<td class="doc-parameter-description">Bad Request: When required parameters are missing.</td>
		</tr>
	</tbody>
</table>
