---
title: Offshore Great Lakes
summary: The Offshore Great Lakes Dataset is a 21-year wind resource dataset for the Great Lakes. Produced in 2021, this data set replaces NREL's Wind Integration National Dataset (WIND) Toolkit for the Great Lakes, which was produced and released publicly in 2013 and is currently the principal data set used by stakeholders for wind resource assessment in the continental United States. Both the WIND Toolkit and this new data set are created using the Weather Research and Forecasting (WRF) numerical weather prediction model (NWP).
detail: This API is capable of creating very large downloadable archives. Unlike a typical API, the response to this provides a request acknowledgement. The real work of creating the requested downloadable archive will continue to run on the server side. When complete, and email will be sent to the email address provided in the initial request with a link to a file to download. In addition to this two step workflow, there is also an option for users who wish to download a single CSV file in direct response to an API request. The <em>.csv</em> format may be used to download a CSV directly. This feature is restricted to use with only a single POINT, for a single YEAR at a time.<br><br>The Offshore Great Lakes shares many of the same attributes as the WIND Toolkit, including 5-minute time resolution and 2-kilometer horizontal spatial resolution. However, the new data set improves upon - the WIND Toolkit through&#58;
url: /api/wind-toolkit/v2/wind/offshore-great-lakes-download
---
<%= current_page.data.summary %>

<%= current_page.data.detail %>

<ul>
	<li>A 21-year modeling period from 2000 through 2020 (compared to the 7-year 2007-2013 modeling period in the WIND Toolkit)</li>
	<li>Confidence metrics for the hub height wind resource, driven by an ensemble of 16 different WRF simulations run in the 2017 calendar year</li>
	<li>An updated WRF version, from 3.4 used in the WIND Toolkit to version 4.1.2 used here, which incorporates significant R&D advancements</li>
	<li>The use of the state-of-the-art reanalysis product ERA5 to provide atmospheric forcing at the WRF domain boundaries. The ERA5 product is produced by the European Centre for Medium Range Weather Forecasts (ECMWF) and replaces its older ERA-interim product, which was used in the WIND Toolkit.</li>
</ul>

<ul id="toc"></ul>

## Request URL

<pre>GET <%= current_page.data.url %><em>.format?parameters</em></pre>

## Request Parameters

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
    <thead>
		<tr>
			<th class="doc-parameters-name" scope="col">Parameter</th>
			<th class="doc-parameters-required" scope="col">Required</th>
			<th class="doc-parameters-value" scope="col">Value</th>
			<th class="doc-parameters-description" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">api_key</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
			</td>
			<td class="doc-parameter-description">
			<p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
			</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">wkt</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> well-known text point string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
			</td>
			<td class="doc-parameter-description">A well-known text (WKT) representation of the geometry for which to extract data. May be a point or polygon geometry.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">attributes</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited string array</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field"><strong>Options:</strong> <em>friction_velocity_2m, inversemoninobukhovlength_2m, roughness_length, surface_sea_temperature, pressure_0m, pressure_100m, pressure_200m, relativehumidity_2m, precipitationrate_0m, windspeed_10m, windspeed_40m, windspeed_60m, windspeed_80m, windspeed_100m, windspeed_120m, windspeed_140m, windspeed_160m, windspeed_180m, windspeed_200m, winddirection_10m, winddirection_20m, winddirection_40m, winddirection_60m, winddirection_80m, winddirection_100m, winddirection_120m, winddirection_140m, winddirection_160m, winddirection_180m, winddirection_200m, temperature_2m, temperature_10m, temperature_20m, temperature_40m, temperature_60m, temperature_80m, temperature_100m, temperature_120m, temperature_140m, temperature_160m, temperature_180m, temperature_200m, wind_speed, wind_direction, pressure, temperature</em></div>
			</td>
			<td class="doc-parameter-description">Each specified attribute will be returned as a column in the resultant CSV download.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">names</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited integer array</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field"><strong>Options:</strong> <em>2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020</em></div>
			</td>
			<td class="doc-parameter-description">The year(s) for which data should be extracted.</td>
		</tr>
    <tr>
      <th class="doc-parameter-name" scope="row">interval</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> integer</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> 5</div>
        <div class="doc-parameter-value-field"><strong>Options:</strong> <em>5, 15, 30, 60</em></div>
      </td>
      <td class="doc-parameter-description">
        Desired data timestep resolution in minutes.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">utc</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> true</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data with timestamps in UTC. Pass false to retrieve data with timestamps converted to local time of data point (without daylight savings time).
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">leap_day</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> false</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data including leap day (where appropriate). Pass false to retrieve data excluding leap day.
      </td>
    </tr>
		<tr>
			<th class="doc-parameter-name" scope="row">full_name</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The full name of the user requesting data.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">email</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> email string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">An active email for the user requesting data. This email will be used to deliver the extracted data.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">affiliation</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The organization with which the user requesting the data is affiliated.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">reason</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The reason that the user is requesting the data.</td>
		</tr>
	</tbody>
</table>

## Response Fields

The response is composed of service-related informational fields and the results of the data query.

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
	<thead>
		<tr>
			<th class="doc-parameters-name" scope="col">Field</th>
			<th class="doc-parameters-value" scope="col">Value</th>
			<th class="doc-parameters-description" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">errors</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
			</td>
			<td class="doc-parameter-description">
			<p>A list of error messages</p>
			</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">inputs</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
			</td>
			<td class="doc-parameter-description">Key: Value pairs representing all input parameters</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">outputs</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
			</td>
			<td class="doc-parameter-description">Upon successful completion a message will be returned informing the user that file generation is in progress and an email will be sent to the address provided in the <code>email</code> input field when the download is ready</td>
		</tr>
	</tbody>
</table>

<h2>Examples</h2>

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?wkt=POINT(-92.4228 39.7053)&attributes=wind_speed,wind_direction&names=2017&utc=false&leap_day=true&full_name=Data%20Lover&email=data.lover%40gmail.com&affiliation=NREL</code></div>

```JSON
{
    "inputs": {
				"wkt": "POINT(-92.4228 39.7053)",
				"attributes": "wind_speed,wind_direction",
				"names": "2017",
				"utc": "false",
				"leap_day": "true",
        "email": "user@company.com"
    },
    "metadata": {
        "version": "2.0.0",
        "resultset": {
            "count": 1
        }
    },
    "status": 200,
    "outputs": {
        "message": "File generation in progress. An email will be sent to user@company.com when the download is ready.",
        "downloadUrl": "https://mapfiles.nrel.gov/data/wind/8f15cfd44948cb76e7cf9531d5fe9cde.zip"
    },
    "errors": []
}
```

<div class="doc-example-url"><code>GET <%= current_page.data.url %>.csv?wkt=POINT(-92.4228 39.7053)&attributes=wind_speed,wind_direction&names=2017&utc=false&leap_day=true&full_name=Data%20Lover&email=data.lover%40gmail.com&affiliation=NREL</code></div>

```csv
SiteID,1,Site Timezone,-9,Data Timezone,,Longitude,-128.77481,Latitude,39.970406
Year,Month,Day,Hour,Minute,wind speed at 100m (m/s),wind direction at 100m (deg)
2017,1,1,0,30,13.35,6.41
2017,1,1,1,30,13.13,3.59
2017,1,1,2,30,13.290000000000001,358.89
2017,1,1,3,30,12.13,359.18
2017,1,1,4,30,12.81,357.96
2017,1,1,5,30,11.78,355.59000000000003
2017,1,1,6,30,11.57,350.11
2017,1,1,7,30,12.71,358.08
```

<h2 id="rate-limits">Rate Limits</h2>

Rate limits for this application are significantly less than the [standard rate limits](/docs/rate-limits){:target="_blank"} for developer.nrel.gov. This decrease in the limit is required as the data provided through this service is significantly more computationally intensive to generate and provide. These rate limits are carefully calculated to allow all users the maximum throughput that our servers can sustain.

There are several levels of rate limiting for this service. The first limit determines how many requests a given user can make per 24 hour period. For requests utilizing the <em>.csv</em> format this rate limit is set at 5000 a day at a frequency of no more than 1 per second. For all other requests this limit is set at 1000 requests per day at a frequency of no more than 1 every 2 seconds.

Secondly each user is limited to 20 in-flight requests at any given time.

In addition, the service has a fail-safe mechanism to prevent significant performance decreases that can be caused by unexpectedly high usage of the service. This limit will cause the service to stop accepting requests when the queue reaches a point where additional requests will significantly lower server performance. When this limit is hit, the service will error with a message describing that the request queue is full.

For some tips and tricks to maximize data downloads please read the guide [here](/docs/wind/wind-toolkit/guide).

<h2 id="contacts">Contact</h2>

<p>For questions about the API or the data models please contact <a href="mailto:WindToolkit@nrel.gov">WindToolkit@nrel.gov</a></p>

<h2 id="errors">Errors</h2>

<p><a href="/docs/errors/">Standard errors</a> may be returned. In addition, the following service-specific errors may be returned:</p>

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
	<thead>
		<tr>
			<th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
			<th class="doc-parameters-required" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">400</th>
			<td class="doc-parameter-description">Bad Request: When required parameters are missing.</td>
		</tr>
	</tbody>
</table>
