---
title: Wind Toolkit Data V2
summary: Collect and download, as CSV, a configurable set of data fields from a national collection of wind stations. The Wind Integration National Dataset (WIND) Toolkit is an update and expansion of the Eastern and Western Wind Datasets, and is intended to support the next generation of integration studies. The WIND Toolkit includes meteorological conditions at multiple hub heights for more than 2,488,136 sites in the continental United States for the years 2007–2014.
detail: This API is capable of creating very large downloadable archives. Unlike a typical API, the response to this provides a request acknowledgement. The real work of creating the requested downloadable archive will continue to run on the server side. When complete, and email will be sent to the email address provided in the initial request with a link to a file to download. In addition to this two step workflow, there is also an option for users who wish to download a single CSV file in direct response to an API request. The <em>.csv</em> format may be used to download a CSV directly. This feature is restricted to use with only a single POINT, for a single year at a time.
url: /api/wind-toolkit/v2/wind/wtk-download
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

<%= current_page.data.detail %>

<ul id="toc"></ul>

## Request URL

<pre>GET <%= current_page.data.url %><em>.format?parameters</em></pre>

## Request Parameters

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
    <thead>
		<tr>
			<th class="doc-parameters-name" scope="col">Parameter</th>
			<th class="doc-parameters-required" scope="col">Required</th>
			<th class="doc-parameters-value" scope="col">Value</th>
			<th class="doc-parameters-description" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">api_key</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
			</td>
			<td class="doc-parameter-description">
			<p>Your developer API key. See <a href="/docs/api-key/">API keys</a> for more information.</p>
			</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">wkt</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> well-known text point string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
			</td>
			<td class="doc-parameter-description">A well-known text (WKT) representation of the geometry for which to extract data. May be a point or polygon geometry.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">attributes</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited string array</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> All available</div>

			<div class="doc-parameter-value-field"><strong>Options:</strong> <em>pressure_0m, pressure_100m, pressure_200m, relativehumidity_2m, precipitationrate_0m, windspeed_10m, windspeed_40m, windspeed_60m, windspeed_80m, windspeed_100m, windspeed_120m, windspeed_140m, windspeed_160m, windspeed_200m, winddirection_10m, winddirection_40m, winddirection_60m, winddirection_80m, winddirection_100m, winddirection_120m, winddirection_140m, winddirection_160m, winddirection_200m, temperature_10m, temperature_40m, temperature_60m, temperature_80m, temperature_100m, temperature_120m, temperature_140m, temperature_160m, temperature_200m</em></div>
			</td>
			<td class="doc-parameter-description">Each specified attribute will be returned as a column in the resultant CSV download.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">names</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> comma delimited integer array</div>
			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>
			<div class="doc-parameter-value-field"><strong>Options:</strong> <em>2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014</em></div>
			</td>
			<td class="doc-parameter-description">The year(s) for which data should be extracted.</td>
		</tr>
		<tr>
      <th class="doc-parameter-name" scope="row">interval</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> integer</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> 60</div>
        <div class="doc-parameter-value-field"><strong>Options:</strong> <em>5, 15, 30, 60</em></div>
      </td>
      <td class="doc-parameter-description">
        Desired data timestep resolution in minutes.
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">utc</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> true</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data with timestamps in UTC. Pass false to retrieve data with timestamps converted to local time of data point (without daylight savings time).
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">leap_day</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field"><strong>Type:</strong> true or false</div>
        <div class="doc-parameter-value-field"><strong>Default:</strong> false</div>
      </td>
      <td class="doc-parameter-description">
        Pass true to retrieve data including leap day (where appropriate). Pass false to retrieve data excluding leap day.
      </td>
    </tr>
		<tr>
			<th class="doc-parameter-name" scope="row">full_name</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The full name of the user requesting data.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">email</th>
			<td class="doc-parameter-required">Yes</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> email string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">An active email for the user requesting data. This email will be used to deliver the extracted data.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">affiliation</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The organization with which the user requesting the data is affiliated.</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">reason</th>
			<td class="doc-parameter-required">No</td>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string</div>

			<div class="doc-parameter-value-field"><strong>Default:</strong> None</div>

			<div class="doc-parameter-value-field">&nbsp;</div>
			</td>
			<td class="doc-parameter-description">The reason that the user is requesting the data.</td>
		</tr>
	</tbody>
</table>

## Response Fields

The response is composed of service-related informational fields and the results of the data query.

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
	<thead>
		<tr>
			<th class="doc-parameters-name" scope="col">Field</th>
			<th class="doc-parameters-value" scope="col">Value</th>
			<th class="doc-parameters-description" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">errors</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
			</td>
			<td class="doc-parameter-description">
			<p>A list of error messages</p>
			</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">warnings</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> string array</div>
			</td>
			<td class="doc-parameter-description">
			<p>A list of warning messages</p>
			</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">inputs</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
			</td>
			<td class="doc-parameter-description">Key: Value pairs representing all input parameters</td>
		</tr>
		<tr>
			<th class="doc-parameter-name" scope="row">outputs</th>
			<td class="doc-parameter-value">
			<div class="doc-parameter-value-field"><strong>Type:</strong> Object Hash</div>
			</td>
			<td class="doc-parameter-description">Upon successful completion a message will be returned informing the user that file generation is in progress and an email will be sent to the address provided in the <code>email</code> input field when the download is ready</td>
		</tr>
	</tbody>
</table>

<h2>Examples</h2>

### CSV Format
<div class="doc-example-url"><code>GET <%= current_page.data.url %>.csv?api_key={{API_KEY}}&wkt=POINT(-78.483215 32.104233)&names=2009&utc=true&leap_day=true&email=user@company.com&reason=example&affiliation=NREL</code></div>

```csv
SiteID,2226728,Site Timezone,-5,Data Timezone,0,Longitude,-78.4798583984,Latitude,32.0998420715
Year,Month,Day,Hour,Minute,surface air pressure (Pa),air pressure at 100m (Pa),air pressure at 200m (Pa),relative humidity at 2m (%),surface precipitation rate (mm/h),wind speed at 10m (m/s),wind speed at 40m (m/s),wind speed at 60m (m/s),wind speed at 80m (m/s),wind speed at 100m (m/s),wind speed at 120m (m/s),wind speed at 140m (m/s),wind speed at 160m (m/s),wind speed at 200m (m/s),wind direction at 10m (deg),wind direction at 40m (deg),wind direction at 60m (deg),wind direction at 80m (deg),wind direction at 100m (deg),wind direction at 120m (deg),wind direction at 140m (deg),wind direction at 160m (deg),wind direction at 200m (deg),air temperature at 10m (C),air temperature at 40m (C),air temperature at 60m (C),air temperature at 80m (C),air temperature at 100m (C),air temperature at 120m (C),air temperature at 140m (C),air temperature at 160m (C),air temperature at 200m (C)
2009,1,1,0,30,101830,100620,99430,58.25,0,14.91,16.28,16.65,16.84,16.96,17.03,17.080000000000002,17.11,17.13,353.25,353.2,353.16,353.12,353.08,353.05,353.01,352.97,352.90000000000003,14.96,14.07,1377,13.5,13.26,13.040000000000001,12.81,12.6,12.18,N/A,N/A
2009,1,1,1,30,101960,100730,99540,61.28,0,15.700000000000001,17.150000000000002,17.55,17.76,17.89,17.98,18.04,18.080000000000002,18.12,357.56,357.47,357.42,357.37,357.34000000000003,357.3,357.26,357.23,357.16,13.700000000000001,12.71,1239,12.11,11.85,11.63,11.4,11.18,10.76,N/A,N/A
2009,1,1,2,30,102060,100830,99640,59.82,0,15.55,16.98,17.38,17.6,17.740000000000002,17.84,17.91,17.96,18.02,358.29,358.34000000000003,358.37,358.40000000000003,358.42,358.45,358.47,358.49,358.53000000000003,12.75,11.72,1138,11.1,10.84,10.620000000000001,10.38,10.16,9.74,N/A,N/A
2009,1,1,3,30,102100,100870,99670,64.71000000000001,0,15.48,16.9,17.28,17.47,17.6,17.69,17.740000000000002,17.78,17.82,3.42,3.35,3.3000000000000003,3.2600000000000002,3.22,3.19,3.15,3.11,3.04,12.08,11.03,1069,10.4,10.14,9.91,9.67,9.46,9.03,N/A,N/A
2009,1,1,4,30,102150,100910,99710,62.97,0,15.33,16.7,17.07,17.26,17.39,17.48,17.53,17.57,17.61,4.42,4.36,4.33,4.3100000000000005,4.3,4.28,4.2700000000000005,4.25,4.23,11.47,10.39,1004,9.76,9.49,9.26,9.03,8.81,8.38,N/A,N/A
...
```

### JSON Format
<div class="doc-example-url"><code>GET <%= current_page.data.url %>.json?api_key={{API_KEY}}&wkt=POINT(-78.483215 32.104233)&names=2009&utc=true&leap_day=true&email=user@company.com&reason=example&affiliation=NREL</code></div>

```
{
    "inputs": {
        "names": "2009",
        "utc": "true",
        "leap_day": "true",
        "email": "user@company.com",
        "wkt": "POINT(-78.483215 32.104233)",
        "reason": "example",
        "affiliation": "NREL"
    },
    "metadata": {
        "version": "2.0.0",
        "resultset": {
            "count": 1
        }
    },
    "status": 200,
    "outputs": {
        "message": "File generation in progress. An email will be sent to user@company.com when the download is ready.",
        "downloadUrl": "https://mapfiles.nrel.gov/data/wind/9ff030427d65498be728ef90e35d8eaf.zip"
    },
    "errors": []
}
```

<h2 id="rate-limits">Rate Limits</h2>

Rate limits for this application are significantly less than the [standard rate limits](/docs/rate-limits){:target="_blank"} for developer.nrel.gov. This decrease in the limit is required as the data provided through this service is significantly more computationally intensive to generate and provide. These rate limits are carefully calculated to allow all users the maximum throughput that our servers can sustain.

There are several levels of rate limiting for this service. The first limit determines how many requests a given user can make per 24 hour period. For requests utilizing the <em>.csv</em> format this rate limit is set at 5000 a day at a frequency of no more than 1 per second. For all other requests this limit is set at 1000 requests per day at a frequency of no more than 1 every 2 seconds.

Secondly each user is limited to 20 in-flight requests at any given time.

In addition, the service has a fail-safe mechanism to prevent significant performance decreases that can be caused by unexpectedly high usage of the service. This limit will cause the service to stop accepting requests when the queue reaches a point where additional requests will significantly lower server performance. When this limit is hit, the service will error with a message describing that the request queue is full.

For some tips and tricks to maximize data downloads please read the guide [here](/docs/wind/wind-toolkit/guide).

<h2 id="contacts">Contact</h2>

<p>For questions about the API or the data models please contact <a href="mailto:WindToolkit@nrel.gov">WindToolkit@nrel.gov</a></p>

<h2 id="errors">Errors</h2>

<p><a href="/docs/errors/">Standard errors</a> may be returned. In addition, the following service-specific errors may be returned:</p>

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
	<thead>
		<tr>
			<th class="doc-parameters-name" scope="col" style="width: 100px;">HTTP Status Code</th>
			<th class="doc-parameters-required" scope="col">Description</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="doc-parameter-name" scope="row">400</th>
			<td class="doc-parameter-description">Bad Request: When required parameters are missing.</td>
		</tr>
	</tbody>
</table>
