---
title: All Stations
summary: Return a full list of alternative fuel stations that match your query.
url: GET /api/alt-fuel-stations/v1

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %> This dataset powers the <a href="https://afdc.energy.gov/stations/">Alternative Fueling Station Locator</a> on the Alternative Fuels Data Center.

<ul id="toc"></ul>

## Request URL

<pre>GET /api/alt-fuel-stations/v1<em>.format?parameters</em></pre>

## Request Parameters

The following query parameters may be passed in the request to control the output:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common1") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common2") %>
    <tr>
      <th class="doc-parameter-name" scope="row">limit</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer or string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> all
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>0</em> to <em>200</em>, or <em>all</em>
        </div>
      </td>
      <td class="doc-parameter-description">The maximum number of results to return. An explicit limit of up to 200 may be passed in, or the special <code>all</code> string may be passed in to return all results.</td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of the fuel stations matching the requested query. For JSON, GeoJSON, or XML formats, additional metadata is supplied in the following structure:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/response_fields_common") %>
    <tr>
      <th class="doc-parameter-name" scope="row">fuel_stations</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> array
        </div>
      </td>
      <td class="doc-parameter-description">
        An array of matching fuel station records returned in no specific order. See <a href="#fuel-station-record-fields">fuel station record fields</a> for response details.
      </td>
    </tr>
  </tbody>
</table>

### Fuel Station Record Fields

The individual fuel station records are returned in no specific order. Each station has the following attributes:

<%= partial("docs/transportation/alt-fuel-stations-v1/record_fields") %>

<%= partial("docs/transportation/alt-fuel-stations-v1/station_count_record_fields") %>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.json?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.json?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```json
{
  "station_locator_url": "https://afdc.energy.gov/stations/",
  "total_results": 17496,
  "station_counts": {
    "total": 50582,
    "fuels": {
      "BD": {
        "total": 0
      },
      "E85": {
        "total": 368
      },
      "ELEC": {
        "total": 50214,
        "stations": {
          "total": 17128
        }
      },
      "HY": {
        "total": 0
      },
      "LNG": {
        "total": 0
      },
      "CNG": {
        "total": 0
      },
      "LPG": {
        "total": 0
      },
      "RD": {
        "total": 0
      }
    }
  },
  "fuel_stations": [
    {
      "access_code": "private",
      "access_days_time": "Fleet use only",
      "access_detail_code": null,
      "cards_accepted": null,
      "date_last_confirmed": "2023-09-14",
      "expected_date": null,
      "fuel_type_code": "ELEC",
      "groups_with_access_code": "Private",
      "id": 1517,
      "open_date": "1999-10-15",
      "owner_type_code": "LG",
      "status_code": "E",
      "restricted_access": null,
      "maximum_vehicle_class": null,
      "station_name": "LADWP - Truesdale Center",
      "station_phone": null,
      "updated_at": "2023-09-14T14:01:49Z",
      "facility_type": "UTILITY",
      "geocode_status": "GPS",
      "latitude": 34.2483191527193,
      "longitude": -118.3879713743439,
      "city": "Sun Valley",
      "intersection_directions": null,
      "plus4": null,
      "state": "CA",
      "street_address": "11797 Truesdale St",
      "zip": "91352",
      "country": "US",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "cng_has_rng": null,
      "e85_blender_pump": null,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": [
        "CHADEMO",
        "J1772",
        "J1772COMBO"
      ],
      "ev_dc_fast_num": 2,
      "ev_level1_evse_num": null,
      "ev_level2_evse_num": 57,
      "ev_network": "SHELL_RECHARGE",
      "ev_network_web": "https://shellrecharge.com/en-us/solutions",
      "ev_other_evse": null,
      "ev_pricing": null,
      "ev_renewable_source": null,
      "ev_workplace_charging": true,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lng_has_rng": null,
      "lpg_primary": null,
      "lpg_nozzle_types": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "rd_blends": null,
      "rd_blends_fr": null,
      "rd_blended_with_biodiesel": null,
      "rd_max_biodiesel_level": null,
      "nps_unit_name": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Privé",
      "ev_pricing_fr": null
    },
    {
      "access_code": "private",
      "access_days_time": null,
      "access_detail_code": null,
      "cards_accepted": null,
      "date_last_confirmed": "2023-01-10",
      "expected_date": null,
      "fuel_type_code": "ELEC",
      "groups_with_access_code": "Private",
      "id": 1519,
      "open_date": "2020-02-28",
      "owner_type_code": "LG",
      "status_code": "E",
      "restricted_access": null,
      "maximum_vehicle_class": null,
      "station_name": "LADWP - West LA District Office",
      "station_phone": null,
      "updated_at": "2023-02-15T22:45:41Z",
      "facility_type": "UTILITY",
      "geocode_status": "200-8",
      "latitude": 34.052542,
      "longitude": -118.448504,
      "city": "Los Angeles",
      "intersection_directions": null,
      "plus4": null,
      "state": "CA",
      "street_address": "1394 S Sepulveda Blvd",
      "zip": "90024",
      "country": "US",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "cng_has_rng": null,
      "e85_blender_pump": null,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": [
        "J1772"
      ],
      "ev_dc_fast_num": null,
      "ev_level1_evse_num": null,
      "ev_level2_evse_num": 4,
      "ev_network": "Non-Networked",
      "ev_network_web": null,
      "ev_other_evse": null,
      "ev_pricing": "Free",
      "ev_renewable_source": null,
      "ev_workplace_charging": true,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lng_has_rng": null,
      "lpg_primary": null,
      "lpg_nozzle_types": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "rd_blends": null,
      "rd_blends_fr": null,
      "rd_blended_with_biodiesel": null,
      "rd_max_biodiesel_level": null,
      "nps_unit_name": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Privé",
      "ev_pricing_fr": null
    }
  ]
}
```

### GeoJSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.geojson?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.geojson?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```json
{
  "type": "FeatureCollection",
  "metadata": {
    "station_locator_url": "https://afdc.energy.gov/stations/",
    "total_results": 17496,
    "station_counts": {
      "total": 50582,
      "fuels": {
        "BD": {
          "total": 0
        },
        "E85": {
          "total": 368
        },
        "ELEC": {
          "total": 50214,
          "stations": {
            "total": 17128
          }
        },
        "HY": {
          "total": 0
        },
        "LNG": {
          "total": 0
        },
        "CNG": {
          "total": 0
        },
        "LPG": {
          "total": 0
        },
        "RD": {
          "total": 0
        }
      }
    }
  },
  "features": [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -118.3879713743439,
          34.2483191527193
        ]
      },
      "properties": {
        "access_code": "private",
        "access_days_time": "Fleet use only",
        "access_detail_code": null,
        "cards_accepted": null,
        "date_last_confirmed": "2023-09-14",
        "expected_date": null,
        "fuel_type_code": "ELEC",
        "groups_with_access_code": "Private",
        "id": 1517,
        "open_date": "1999-10-15",
        "owner_type_code": "LG",
        "status_code": "E",
        "restricted_access": null,
        "maximum_vehicle_class": null,
        "station_name": "LADWP - Truesdale Center",
        "station_phone": null,
        "updated_at": "2023-09-14T14:01:49Z",
        "facility_type": "UTILITY",
        "geocode_status": "GPS",
        "city": "Sun Valley",
        "intersection_directions": null,
        "plus4": null,
        "state": "CA",
        "street_address": "11797 Truesdale St",
        "zip": "91352",
        "country": "US",
        "bd_blends": null,
        "cng_dispenser_num": null,
        "cng_fill_type_code": null,
        "cng_psi": null,
        "cng_renewable_source": null,
        "cng_total_compression": null,
        "cng_total_storage": null,
        "cng_vehicle_class": null,
        "cng_has_rng": null,
        "e85_blender_pump": null,
        "e85_other_ethanol_blends": null,
        "ev_connector_types": [
          "CHADEMO",
          "J1772",
          "J1772COMBO"
        ],
        "ev_dc_fast_num": 2,
        "ev_level1_evse_num": null,
        "ev_level2_evse_num": 57,
        "ev_network": "SHELL_RECHARGE",
        "ev_network_web": "https://shellrecharge.com/en-us/solutions",
        "ev_other_evse": null,
        "ev_pricing": null,
        "ev_renewable_source": null,
        "ev_workplace_charging": true,
        "hy_is_retail": null,
        "hy_pressures": null,
        "hy_standards": null,
        "hy_status_link": null,
        "lng_renewable_source": null,
        "lng_vehicle_class": null,
        "lng_has_rng": null,
        "lpg_primary": null,
        "lpg_nozzle_types": null,
        "ng_fill_type_code": null,
        "ng_psi": null,
        "ng_vehicle_class": null,
        "rd_blends": null,
        "rd_blends_fr": null,
        "rd_blended_with_biodiesel": null,
        "rd_max_biodiesel_level": null,
        "nps_unit_name": null,
        "access_days_time_fr": null,
        "intersection_directions_fr": null,
        "bd_blends_fr": null,
        "groups_with_access_code_fr": "Privé",
        "ev_pricing_fr": null
      }
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -118.448504,
          34.052542
        ]
      },
      "properties": {
        "access_code": "private",
        "access_days_time": null,
        "access_detail_code": null,
        "cards_accepted": null,
        "date_last_confirmed": "2023-01-10",
        "expected_date": null,
        "fuel_type_code": "ELEC",
        "groups_with_access_code": "Private",
        "id": 1519,
        "open_date": "2020-02-28",
        "owner_type_code": "LG",
        "status_code": "E",
        "restricted_access": null,
        "maximum_vehicle_class": null,
        "station_name": "LADWP - West LA District Office",
        "station_phone": null,
        "updated_at": "2023-02-15T22:45:41Z",
        "facility_type": "UTILITY",
        "geocode_status": "200-8",
        "city": "Los Angeles",
        "intersection_directions": null,
        "plus4": null,
        "state": "CA",
        "street_address": "1394 S Sepulveda Blvd",
        "zip": "90024",
        "country": "US",
        "bd_blends": null,
        "cng_dispenser_num": null,
        "cng_fill_type_code": null,
        "cng_psi": null,
        "cng_renewable_source": null,
        "cng_total_compression": null,
        "cng_total_storage": null,
        "cng_vehicle_class": null,
        "cng_has_rng": null,
        "e85_blender_pump": null,
        "e85_other_ethanol_blends": null,
        "ev_connector_types": [
          "J1772"
        ],
        "ev_dc_fast_num": null,
        "ev_level1_evse_num": null,
        "ev_level2_evse_num": 4,
        "ev_network": "Non-Networked",
        "ev_network_web": null,
        "ev_other_evse": null,
        "ev_pricing": "Free",
        "ev_renewable_source": null,
        "ev_workplace_charging": true,
        "hy_is_retail": null,
        "hy_pressures": null,
        "hy_standards": null,
        "hy_status_link": null,
        "lng_renewable_source": null,
        "lng_vehicle_class": null,
        "lng_has_rng": null,
        "lpg_primary": null,
        "lpg_nozzle_types": null,
        "ng_fill_type_code": null,
        "ng_psi": null,
        "ng_vehicle_class": null,
        "rd_blends": null,
        "rd_blends_fr": null,
        "rd_blended_with_biodiesel": null,
        "rd_max_biodiesel_level": null,
        "nps_unit_name": null,
        "access_days_time_fr": null,
        "intersection_directions_fr": null,
        "bd_blends_fr": null,
        "groups_with_access_code_fr": "Privé",
        "ev_pricing_fr": null
      }
    }
  ]
}
```

### XML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.xml?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.xml?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<response>
  <station-locator-url>https://afdc.energy.gov/stations/</station-locator-url>
  <total-results>17496</total-results>
  <station-counts>
    <total>50582</total>
    <fuels>
      <BD>
        <total>0</total>
      </BD>
      <E85>
        <total>368</total>
      </E85>
      <ELEC>
        <total>50214</total>
        <stations>
          <total>17128</total>
        </stations>
      </ELEC>
      <HY>
        <total>0</total>
      </HY>
      <LNG>
        <total>0</total>
      </LNG>
      <CNG>
        <total>0</total>
      </CNG>
      <LPG>
        <total>0</total>
      </LPG>
      <RD>
        <total>0</total>
      </RD>
    </fuels>
  </station-counts>
  <fuel-stations type="array">
    <fuel-station>
      <access-code>private</access-code>
      <access-days-time>Fleet use only</access-days-time>
      <access-detail-code nil="true"/>
      <cards-accepted nil="true"/>
      <date-last-confirmed>2023-09-14</date-last-confirmed>
      <expected-date nil="true"/>
      <fuel-type-code>ELEC</fuel-type-code>
      <groups-with-access-code>Private</groups-with-access-code>
      <id>1517</id>
      <open-date>1999-10-15</open-date>
      <owner-type-code>LG</owner-type-code>
      <status-code>E</status-code>
      <restricted-access nil="true"/>
      <maximum-vehicle-class nil="true"/>
      <station-name>LADWP - Truesdale Center</station-name>
      <station-phone nil="true"/>
      <updated-at>2023-09-14 14:01:49 UTC</updated-at>
      <facility-type>UTILITY</facility-type>
      <geocode-status>GPS</geocode-status>
      <latitude>34.2483191527193</latitude>
      <longitude>-118.3879713743439</longitude>
      <city>Sun Valley</city>
      <intersection-directions nil="true"/>
      <plus4 nil="true"/>
      <state>CA</state>
      <street-address>11797 Truesdale St</street-address>
      <zip>91352</zip>
      <country>US</country>
      <bd-blends nil="true"/>
      <cng-dispenser-num nil="true"/>
      <cng-fill-type-code nil="true"/>
      <cng-psi nil="true"/>
      <cng-renewable-source nil="true"/>
      <cng-total-compression nil="true"/>
      <cng-total-storage nil="true"/>
      <cng-vehicle-class nil="true"/>
      <cng-has-rng nil="true"/>
      <e85-blender-pump nil="true"/>
      <e85-other-ethanol-blends nil="true"/>
      <ev-connector-types>
        <ev-connector-type>CHADEMO</ev-connector-type>
        <ev-connector-type>J1772</ev-connector-type>
        <ev-connector-type>J1772COMBO</ev-connector-type>
      </ev-connector-types>
      <ev-dc-fast-num>2</ev-dc-fast-num>
      <ev-level1-evse-num nil="true"/>
      <ev-level2-evse-num>57</ev-level2-evse-num>
      <ev-network>SHELL_RECHARGE</ev-network>
      <ev-network-web>https://shellrecharge.com/en-us/solutions</ev-network-web>
      <ev-other-evse nil="true"/>
      <ev-pricing nil="true"/>
      <ev-renewable-source nil="true"/>
      <ev-workplace-charging>true</ev-workplace-charging>
      <hy-is-retail nil="true"/>
      <hy-pressures nil="true"/>
      <hy-standards nil="true"/>
      <hy-status-link nil="true"/>
      <lng-renewable-source nil="true"/>
      <lng-vehicle-class nil="true"/>
      <lng-has-rng nil="true"/>
      <lpg-primary nil="true"/>
      <lpg-nozzle-types nil="true"/>
      <ng-fill-type-code nil="true"/>
      <ng-psi nil="true"/>
      <ng-vehicle-class nil="true"/>
      <rd-blends nil="true"/>
      <rd-blends-fr nil="true"/>
      <rd-blended-with-biodiesel nil="true"/>
      <rd-max-biodiesel-level nil="true"/>
      <nps-unit-name nil="true"/>
      <access-days-time-fr nil="true"/>
      <intersection-directions-fr nil="true"/>
      <bd-blends-fr nil="true"/>
      <groups-with-access-code-fr>Privé</groups-with-access-code-fr>
      <ev-pricing-fr nil="true"/>
    </fuel-station>
    <fuel-station>
      <access-code>private</access-code>
      <access-days-time nil="true"/>
      <access-detail-code nil="true"/>
      <cards-accepted nil="true"/>
      <date-last-confirmed>2023-01-10</date-last-confirmed>
      <expected-date nil="true"/>
      <fuel-type-code>ELEC</fuel-type-code>
      <groups-with-access-code>Private</groups-with-access-code>
      <id>1519</id>
      <open-date>2020-02-28</open-date>
      <owner-type-code>LG</owner-type-code>
      <status-code>E</status-code>
      <restricted-access nil="true"/>
      <maximum-vehicle-class nil="true"/>
      <station-name>LADWP - West LA District Office</station-name>
      <station-phone nil="true"/>
      <updated-at>2023-02-15 22:45:41 UTC</updated-at>
      <facility-type>UTILITY</facility-type>
      <geocode-status>200-8</geocode-status>
      <latitude>34.052542</latitude>
      <longitude>-118.448504</longitude>
      <city>Los Angeles</city>
      <intersection-directions nil="true"/>
      <plus4 nil="true"/>
      <state>CA</state>
      <street-address>1394 S Sepulveda Blvd</street-address>
      <zip>90024</zip>
      <country>US</country>
      <bd-blends nil="true"/>
      <cng-dispenser-num nil="true"/>
      <cng-fill-type-code nil="true"/>
      <cng-psi nil="true"/>
      <cng-renewable-source nil="true"/>
      <cng-total-compression nil="true"/>
      <cng-total-storage nil="true"/>
      <cng-vehicle-class nil="true"/>
      <cng-has-rng nil="true"/>
      <e85-blender-pump nil="true"/>
      <e85-other-ethanol-blends nil="true"/>
      <ev-connector-types>
        <ev-connector-type>J1772</ev-connector-type>
      </ev-connector-types>
      <ev-dc-fast-num nil="true"/>
      <ev-level1-evse-num nil="true"/>
      <ev-level2-evse-num>4</ev-level2-evse-num>
      <ev-network>Non-Networked</ev-network>
      <ev-network-web nil="true"/>
      <ev-other-evse nil="true"/>
      <ev-pricing>Free</ev-pricing>
      <ev-renewable-source nil="true"/>
      <ev-workplace-charging>true</ev-workplace-charging>
      <hy-is-retail nil="true"/>
      <hy-pressures nil="true"/>
      <hy-standards nil="true"/>
      <hy-status-link nil="true"/>
      <lng-renewable-source nil="true"/>
      <lng-vehicle-class nil="true"/>
      <lng-has-rng nil="true"/>
      <lpg-primary nil="true"/>
      <lpg-nozzle-types nil="true"/>
      <ng-fill-type-code nil="true"/>
      <ng-psi nil="true"/>
      <ng-vehicle-class nil="true"/>
      <rd-blends nil="true"/>
      <rd-blends-fr nil="true"/>
      <rd-blended-with-biodiesel nil="true"/>
      <rd-max-biodiesel-level nil="true"/>
      <nps-unit-name nil="true"/>
      <access-days-time-fr nil="true"/>
      <intersection-directions-fr nil="true"/>
      <bd-blends-fr nil="true"/>
      <groups-with-access-code-fr>Privé</groups-with-access-code-fr>
      <ev-pricing-fr nil="true"/>
    </fuel-station>
  </fuel-stations>
</response>
```

### KML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.kml?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.kml?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
  <Document>
    <Placemark>
      <name>LADWP - Truesdale Center</name>
      <address>11797 Truesdale St</address>
      <phoneNumber nil="true"/>
      <Point>
        <coordinates>-118.3879713743439,34.2483191527193</coordinates>
      </Point>
      <ExtendedData>
        <Data name="access_code">
          <Value>private</Value>
        </Data>
        <Data name="access_days_time">
          <Value>Fleet use only</Value>
        </Data>
        <Data name="date_last_confirmed">
          <Value>2023-09-14</Value>
        </Data>
        <Data name="fuel_type_code">
          <Value>ELEC</Value>
        </Data>
        <Data name="groups_with_access_code">
          <Value>Private</Value>
        </Data>
        <Data name="id">
          <Value>1517</Value>
        </Data>
        <Data name="open_date">
          <Value>1999-10-15</Value>
        </Data>
        <Data name="owner_type_code">
          <Value>LG</Value>
        </Data>
        <Data name="status_code">
          <Value>E</Value>
        </Data>
        <Data name="updated_at">
          <Value>2023-09-14 14:01:49 UTC</Value>
        </Data>
        <Data name="facility_type">
          <Value>UTILITY</Value>
        </Data>
        <Data name="geocode_status">
          <Value>GPS</Value>
        </Data>
        <Data name="city">
          <Value>Sun Valley</Value>
        </Data>
        <Data name="state">
          <Value>CA</Value>
        </Data>
        <Data name="zip">
          <Value>91352</Value>
        </Data>
        <Data name="country">
          <Value>US</Value>
        </Data>
        <Data name="ev_connector_types">
          <Value>["CHADEMO", "J1772", "J1772COMBO"]</Value>
        </Data>
        <Data name="ev_dc_fast_num">
          <Value>2</Value>
        </Data>
        <Data name="ev_level2_evse_num">
          <Value>57</Value>
        </Data>
        <Data name="ev_network">
          <Value>SHELL_RECHARGE</Value>
        </Data>
        <Data name="ev_network_web">
          <Value>https://shellrecharge.com/en-us/solutions</Value>
        </Data>
        <Data name="ev_workplace_charging">
          <Value>true</Value>
        </Data>
        <Data name="groups_with_access_code_fr">
          <Value>Privé</Value>
        </Data>
      </ExtendedData>
    </Placemark>
    <Placemark>
      <name>LADWP - West LA District Office</name>
      <address>1394 S Sepulveda Blvd</address>
      <phoneNumber nil="true"/>
      <Point>
        <coordinates>-118.448504,34.052542</coordinates>
      </Point>
      <ExtendedData>
        <Data name="access_code">
          <Value>private</Value>
        </Data>
        <Data name="date_last_confirmed">
          <Value>2023-01-10</Value>
        </Data>
        <Data name="fuel_type_code">
          <Value>ELEC</Value>
        </Data>
        <Data name="groups_with_access_code">
          <Value>Private</Value>
        </Data>
        <Data name="id">
          <Value>1519</Value>
        </Data>
        <Data name="open_date">
          <Value>2020-02-28</Value>
        </Data>
        <Data name="owner_type_code">
          <Value>LG</Value>
        </Data>
        <Data name="status_code">
          <Value>E</Value>
        </Data>
        <Data name="updated_at">
          <Value>2023-02-15 22:45:41 UTC</Value>
        </Data>
        <Data name="facility_type">
          <Value>UTILITY</Value>
        </Data>
        <Data name="geocode_status">
          <Value>200-8</Value>
        </Data>
        <Data name="city">
          <Value>Los Angeles</Value>
        </Data>
        <Data name="state">
          <Value>CA</Value>
        </Data>
        <Data name="zip">
          <Value>90024</Value>
        </Data>
        <Data name="country">
          <Value>US</Value>
        </Data>
        <Data name="ev_connector_types">
          <Value>["J1772"]</Value>
        </Data>
        <Data name="ev_level2_evse_num">
          <Value>4</Value>
        </Data>
        <Data name="ev_network">
          <Value>Non-Networked</Value>
        </Data>
        <Data name="ev_pricing">
          <Value>Free</Value>
        </Data>
        <Data name="ev_workplace_charging">
          <Value>true</Value>
        </Data>
        <Data name="groups_with_access_code_fr">
          <Value>Privé</Value>
        </Data>
      </ExtendedData>
    </Placemark>
  </Document>
</kml>
```

### CSV Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.csv?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.csv?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```
Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging
ELEC,LADWP - Truesdale Center,11797 Truesdale St,,Sun Valley,CA,91352,,,E,,Private,Fleet use only,,,,,,57,2,,SHELL_RECHARGE,https://shellrecharge.com/en-us/solutions,GPS,34.2483191527193,-118.3879713743439,2023-09-14,1517,2023-09-14 14:01:49 UTC,LG,,,1999-10-15,,,,,CHADEMO J1772 J1772COMBO,US,,,,Privé,,private,,,UTILITY,,,,,,,,,,,,,,,,,,,,,,,,,,true
ELEC,LADWP - West LA District Office,1394 S Sepulveda Blvd,,Los Angeles,CA,90024,,,E,,Private,,,,,,,4,,,Non-Networked,,200-8,34.052542,-118.448504,2023-01-10,1519,2023-02-15 22:45:41 UTC,LG,,,2020-02-28,,,,,J1772,US,,,,Privé,,private,,,UTILITY,,,,,,,Free,,,,,,,,,,,,,,,,,,,true
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">422</th>
      <td class="doc-parameter-description">Unprocessable Entity - An invalid value was given for a query parameter. The response body will describe the specific error.</td>
    </tr>
  </tbody>
</table>
