---
title: All Stations
summary: Return a full list of alternative fuel stations that match your query.
url: GET /api/alt-fuel-stations/v1
sort_value: "10"
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %> This dataset powers the <a href="https://afdc.energy.gov/stations/">Alternative Fueling Station Locator</a> on the Alternative Fuels Data Center.

{:toc}

<%= partial "layouts/toc" %>

## Request URL

<pre>GET /api/alt-fuel-stations/v1<em>.format?parameters</em></pre>

## Request Parameters

The following query parameters may be passed in the request to control the output:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common1") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params/response_format") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common2") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params/ids") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params/limit") %>
  </tbody>
</table>

## Response Fields

The response is composed of the fuel stations matching the requested query. For JSON or GeoJSON formats, additional metadata is supplied in the following structure:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/response_fields_common") %>
    <tr>
      <th class="doc-parameter-name" scope="row">fuel_stations</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> array
        </div>
      </td>
      <td class="doc-parameter-description">
        An array of matching fuel station records returned in no specific order. See <a href="#fuel-station-record-fields">fuel station record fields</a> for response details.
      </td>
    </tr>
  </tbody>
</table>

### Fuel Station Record Fields

The individual fuel station records are returned in no specific order. Each station has the following attributes:

<%= partial("docs/transportation/alt-fuel-stations-v1/record_fields") %>

<%= partial("docs/transportation/alt-fuel-stations-v1/station_count_record_fields") %>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.json?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.json?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```json
{
  "station_locator_url": "https://afdc.energy.gov/stations/",
  "total_results": 97287,
  "station_counts": {
    "total": 284290,
    "fuels": {
      "BD": {
        "total": 602
      },
      "E85": {
        "total": 4687
      },
      "ELEC": {
        "total": 272926,
        "stations": {
          "total": 85923
        }
      },
      "HY": {
        "total": 93
      },
      "LNG": {
        "total": 107
      },
      "CNG": {
        "total": 1391
      },
      "LPG": {
        "total": 2993
      },
      "RD": {
        "total": 1491
      }
    }
  },
  "fuel_stations": [
    {
      "access_code": "private",
      "access_days_time": null,
      "access_detail_code": null,
      "cards_accepted": null,
      "date_last_confirmed": null,
      "expected_date": null,
      "fuel_type_code": "E85",
      "groups_with_access_code": "Private",
      "id": 433968,
      "maximum_vehicle_class": "LD",
      "open_date": "2013-06-30",
      "owner_type_code": "P",
      "related_stations": [
        {
          "id": 52415,
          "access_code": "private",
          "fuel_type_code": "BD"
        },
        {
          "id": 187479,
          "access_code": "private",
          "fuel_type_code": "CNG"
        },
        {
          "id": 187537,
          "access_code": "private",
          "fuel_type_code": "LPG"
        }
      ],
      "restricted_access": null,
      "status_code": "E",
      "funding_sources": null,
      "facility_type": "MIL_BASE",
      "station_name": "Marine Corps Logistics Base - Barstow - Yermo Annex",
      "station_phone": null,
      "updated_at": "2025-11-13T20:00:08Z",
      "geocode_status": "GPS",
      "latitude": 34.874372,
      "longitude": -116.951153,
      "city": "Barstow",
      "country": "US",
      "intersection_directions": null,
      "plus4": null,
      "state": "CA",
      "street_address": "F St",
      "zip": "92311",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_has_rng": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "e85_blender_pump": false,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": null,
      "ev_dc_fast_num": null,
      "ev_level1_evse_num": null,
      "ev_level2_evse_num": null,
      "ev_network": null,
      "ev_network_web": null,
      "ev_other_evse": null,
      "ev_pricing": null,
      "ev_renewable_source": null,
      "ev_workplace_charging": null,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_has_rng": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lpg_nozzle_types": null,
      "lpg_primary": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "rd_blended_with_biodiesel": null,
      "rd_blends": null,
      "rd_blends_fr": null,
      "rd_max_biodiesel_level": null,
      "nps_unit_name": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Privé",
      "ev_pricing_fr": null,
      "ev_charging_units": null
    },
    {
      "access_code": "public",
      "access_days_time": "24 hours daily",
      "access_detail_code": null,
      "cards_accepted": "A D Debit M V",
      "date_last_confirmed": null,
      "expected_date": null,
      "fuel_type_code": "ELEC",
      "groups_with_access_code": "Public",
      "id": 446595,
      "maximum_vehicle_class": "LD",
      "open_date": "2025-11-27",
      "owner_type_code": "P",
      "related_stations": [
        {
          "id": 213127,
          "access_code": "public",
          "fuel_type_code": "E85"
        }
      ],
      "restricted_access": false,
      "status_code": "E",
      "funding_sources": [
        "NEVI"
      ],
      "facility_type": "GAS_STATION",
      "station_name": "Kwik Trip #1205",
      "station_phone": "608-793-6267",
      "updated_at": "2025-12-01T14:44:01Z",
      "geocode_status": "200-8",
      "latitude": 43.57532,
      "longitude": -89.77759,
      "city": "Baraboo",
      "country": "US",
      "intersection_directions": null,
      "plus4": null,
      "state": "WI",
      "street_address": "1171 Wisconsin Dells Pkwy S",
      "zip": "53913",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_has_rng": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "e85_blender_pump": null,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": [
        "J1772COMBO",
        "TESLA"
      ],
      "ev_dc_fast_num": 4,
      "ev_level1_evse_num": null,
      "ev_level2_evse_num": null,
      "ev_network": "KWIK_CHARGE",
      "ev_network_web": "https://www.kwiktrip.com/kwikcharge",
      "ev_other_evse": null,
      "ev_pricing": "$0.52 per kWh",
      "ev_renewable_source": null,
      "ev_workplace_charging": false,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_has_rng": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lpg_nozzle_types": null,
      "lpg_primary": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "rd_blended_with_biodiesel": null,
      "rd_blends": null,
      "rd_blends_fr": null,
      "rd_max_biodiesel_level": null,
      "nps_unit_name": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Public",
      "ev_pricing_fr": null,
      "ev_charging_units": [
        {
          "network": "KWIK_CHARGE",
          "connectors": {
            "J1772": {
              "power_kw": null,
              "port_count": 0
            },
            "J3271": {
              "power_kw": null,
              "port_count": 0
            },
            "TESLA": {
              "power_kw": 400,
              "port_count": 1
            },
            "CHADEMO": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA515": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA520": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA1450": {
              "power_kw": null,
              "port_count": 0
            },
            "J1772COMBO": {
              "power_kw": 400,
              "port_count": 1
            }
          },
          "port_count": 1,
          "charging_level": "dc_fast",
          "funding_sources": [
            "NEVI"
          ]
        },
        {
          "network": "KWIK_CHARGE",
          "connectors": {
            "J1772": {
              "power_kw": null,
              "port_count": 0
            },
            "J3271": {
              "power_kw": null,
              "port_count": 0
            },
            "TESLA": {
              "power_kw": 400,
              "port_count": 1
            },
            "CHADEMO": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA515": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA520": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA1450": {
              "power_kw": null,
              "port_count": 0
            },
            "J1772COMBO": {
              "power_kw": 400,
              "port_count": 1
            }
          },
          "port_count": 1,
          "charging_level": "dc_fast",
          "funding_sources": [
            "NEVI"
          ]
        },
        {
          "network": "KWIK_CHARGE",
          "connectors": {
            "J1772": {
              "power_kw": null,
              "port_count": 0
            },
            "J3271": {
              "power_kw": null,
              "port_count": 0
            },
            "TESLA": {
              "power_kw": 400,
              "port_count": 1
            },
            "CHADEMO": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA515": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA520": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA1450": {
              "power_kw": null,
              "port_count": 0
            },
            "J1772COMBO": {
              "power_kw": 400,
              "port_count": 1
            }
          },
          "port_count": 1,
          "charging_level": "dc_fast",
          "funding_sources": [
            "NEVI"
          ]
        },
        {
          "network": "KWIK_CHARGE",
          "connectors": {
            "J1772": {
              "power_kw": null,
              "port_count": 0
            },
            "J3271": {
              "power_kw": null,
              "port_count": 0
            },
            "TESLA": {
              "power_kw": 400,
              "port_count": 1
            },
            "CHADEMO": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA515": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA520": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA1450": {
              "power_kw": null,
              "port_count": 0
            },
            "J1772COMBO": {
              "power_kw": 400,
              "port_count": 1
            }
          },
          "port_count": 1,
          "charging_level": "dc_fast",
          "funding_sources": [
            "NEVI"
          ]
        }
      ]
    }
  ]
}
```

### GeoJSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.geojson?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.geojson?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```json
{
  "type": "FeatureCollection",
  "metadata": {
    "station_locator_url": "https://afdc.energy.gov/stations/",
    "total_results": 97287,
    "station_counts": {
      "total": 284290,
      "fuels": {
        "BD": {
          "total": 602
        },
        "E85": {
          "total": 4687
        },
        "ELEC": {
          "total": 272926,
          "stations": {
            "total": 85923
          }
        },
        "HY": {
          "total": 93
        },
        "LNG": {
          "total": 107
        },
        "CNG": {
          "total": 1391
        },
        "LPG": {
          "total": 2993
        },
        "RD": {
          "total": 1491
        }
      }
    }
  },
  "features": [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -116.951153,
          34.874372
        ]
      },
      "properties": {
        "access_code": "private",
        "access_days_time": null,
        "access_detail_code": null,
        "cards_accepted": null,
        "date_last_confirmed": null,
        "expected_date": null,
        "fuel_type_code": "E85",
        "groups_with_access_code": "Private",
        "id": 433968,
        "maximum_vehicle_class": "LD",
        "open_date": "2013-06-30",
        "owner_type_code": "P",
        "related_stations": [
          {
            "id": 52415,
            "access_code": "private",
            "fuel_type_code": "BD"
          },
          {
            "id": 187479,
            "access_code": "private",
            "fuel_type_code": "CNG"
          },
          {
            "id": 187537,
            "access_code": "private",
            "fuel_type_code": "LPG"
          }
        ],
        "restricted_access": null,
        "status_code": "E",
        "funding_sources": null,
        "facility_type": "MIL_BASE",
        "station_name": "Marine Corps Logistics Base - Barstow - Yermo Annex",
        "station_phone": null,
        "updated_at": "2025-11-13T20:00:08Z",
        "geocode_status": "GPS",
        "city": "Barstow",
        "country": "US",
        "intersection_directions": null,
        "plus4": null,
        "state": "CA",
        "street_address": "F St",
        "zip": "92311",
        "bd_blends": null,
        "cng_dispenser_num": null,
        "cng_fill_type_code": null,
        "cng_has_rng": null,
        "cng_psi": null,
        "cng_renewable_source": null,
        "cng_total_compression": null,
        "cng_total_storage": null,
        "cng_vehicle_class": null,
        "e85_blender_pump": false,
        "e85_other_ethanol_blends": null,
        "ev_connector_types": null,
        "ev_dc_fast_num": null,
        "ev_level1_evse_num": null,
        "ev_level2_evse_num": null,
        "ev_network": null,
        "ev_network_web": null,
        "ev_other_evse": null,
        "ev_pricing": null,
        "ev_renewable_source": null,
        "ev_workplace_charging": null,
        "hy_is_retail": null,
        "hy_pressures": null,
        "hy_standards": null,
        "hy_status_link": null,
        "lng_has_rng": null,
        "lng_renewable_source": null,
        "lng_vehicle_class": null,
        "lpg_nozzle_types": null,
        "lpg_primary": null,
        "ng_fill_type_code": null,
        "ng_psi": null,
        "ng_vehicle_class": null,
        "rd_blended_with_biodiesel": null,
        "rd_blends": null,
        "rd_blends_fr": null,
        "rd_max_biodiesel_level": null,
        "nps_unit_name": null,
        "access_days_time_fr": null,
        "intersection_directions_fr": null,
        "bd_blends_fr": null,
        "groups_with_access_code_fr": "Privé",
        "ev_pricing_fr": null,
        "ev_charging_units": null
      }
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -89.77759,
          43.57532
        ]
      },
      "properties": {
        "access_code": "public",
        "access_days_time": "24 hours daily",
        "access_detail_code": null,
        "cards_accepted": "A D Debit M V",
        "date_last_confirmed": null,
        "expected_date": null,
        "fuel_type_code": "ELEC",
        "groups_with_access_code": "Public",
        "id": 446595,
        "maximum_vehicle_class": "LD",
        "open_date": "2025-11-27",
        "owner_type_code": "P",
        "related_stations": [
          {
            "id": 213127,
            "access_code": "public",
            "fuel_type_code": "E85"
          }
        ],
        "restricted_access": false,
        "status_code": "E",
        "funding_sources": [
          "NEVI"
        ],
        "facility_type": "GAS_STATION",
        "station_name": "Kwik Trip #1205",
        "station_phone": "608-793-6267",
        "updated_at": "2025-12-01T14:44:01Z",
        "geocode_status": "200-8",
        "city": "Baraboo",
        "country": "US",
        "intersection_directions": null,
        "plus4": null,
        "state": "WI",
        "street_address": "1171 Wisconsin Dells Pkwy S",
        "zip": "53913",
        "bd_blends": null,
        "cng_dispenser_num": null,
        "cng_fill_type_code": null,
        "cng_has_rng": null,
        "cng_psi": null,
        "cng_renewable_source": null,
        "cng_total_compression": null,
        "cng_total_storage": null,
        "cng_vehicle_class": null,
        "e85_blender_pump": null,
        "e85_other_ethanol_blends": null,
        "ev_connector_types": [
          "J1772COMBO",
          "TESLA"
        ],
        "ev_dc_fast_num": 4,
        "ev_level1_evse_num": null,
        "ev_level2_evse_num": null,
        "ev_network": "KWIK_CHARGE",
        "ev_network_web": "https://www.kwiktrip.com/kwikcharge",
        "ev_other_evse": null,
        "ev_pricing": "$0.52 per kWh",
        "ev_renewable_source": null,
        "ev_workplace_charging": false,
        "hy_is_retail": null,
        "hy_pressures": null,
        "hy_standards": null,
        "hy_status_link": null,
        "lng_has_rng": null,
        "lng_renewable_source": null,
        "lng_vehicle_class": null,
        "lpg_nozzle_types": null,
        "lpg_primary": null,
        "ng_fill_type_code": null,
        "ng_psi": null,
        "ng_vehicle_class": null,
        "rd_blended_with_biodiesel": null,
        "rd_blends": null,
        "rd_blends_fr": null,
        "rd_max_biodiesel_level": null,
        "nps_unit_name": null,
        "access_days_time_fr": null,
        "intersection_directions_fr": null,
        "bd_blends_fr": null,
        "groups_with_access_code_fr": "Public",
        "ev_pricing_fr": null,
        "ev_charging_units": [
          {
            "network": "KWIK_CHARGE",
            "connectors": {
              "J1772": {
                "power_kw": null,
                "port_count": 0
              },
              "J3271": {
                "power_kw": null,
                "port_count": 0
              },
              "TESLA": {
                "power_kw": 400,
                "port_count": 1
              },
              "CHADEMO": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA515": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA520": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA1450": {
                "power_kw": null,
                "port_count": 0
              },
              "J1772COMBO": {
                "power_kw": 400,
                "port_count": 1
              }
            },
            "port_count": 1,
            "charging_level": "dc_fast",
            "funding_sources": [
              "NEVI"
            ]
          },
          {
            "network": "KWIK_CHARGE",
            "connectors": {
              "J1772": {
                "power_kw": null,
                "port_count": 0
              },
              "J3271": {
                "power_kw": null,
                "port_count": 0
              },
              "TESLA": {
                "power_kw": 400,
                "port_count": 1
              },
              "CHADEMO": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA515": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA520": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA1450": {
                "power_kw": null,
                "port_count": 0
              },
              "J1772COMBO": {
                "power_kw": 400,
                "port_count": 1
              }
            },
            "port_count": 1,
            "charging_level": "dc_fast",
            "funding_sources": [
              "NEVI"
            ]
          },
          {
            "network": "KWIK_CHARGE",
            "connectors": {
              "J1772": {
                "power_kw": null,
                "port_count": 0
              },
              "J3271": {
                "power_kw": null,
                "port_count": 0
              },
              "TESLA": {
                "power_kw": 400,
                "port_count": 1
              },
              "CHADEMO": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA515": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA520": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA1450": {
                "power_kw": null,
                "port_count": 0
              },
              "J1772COMBO": {
                "power_kw": 400,
                "port_count": 1
              }
            },
            "port_count": 1,
            "charging_level": "dc_fast",
            "funding_sources": [
              "NEVI"
            ]
          },
          {
            "network": "KWIK_CHARGE",
            "connectors": {
              "J1772": {
                "power_kw": null,
                "port_count": 0
              },
              "J3271": {
                "power_kw": null,
                "port_count": 0
              },
              "TESLA": {
                "power_kw": 400,
                "port_count": 1
              },
              "CHADEMO": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA515": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA520": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA1450": {
                "power_kw": null,
                "port_count": 0
              },
              "J1772COMBO": {
                "power_kw": 400,
                "port_count": 1
              }
            },
            "port_count": 1,
            "charging_level": "dc_fast",
            "funding_sources": [
              "NEVI"
            ]
          }
        ]
      }
    }
  ]
}
```

### CSV Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.csv?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.csv?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```
Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
E85,Marine Corps Logistics Base - Barstow - Yermo Annex,F St,,Barstow,CA,92311,,,E,,Private,,,,,,,,,,,,GPS,34.874372,-116.951153,,433968,2025-11-13 20:00:08 UTC,P,,,2013-06-30,,,,false,,US,,,,Privé,,private,,,MIL_BASE,,,,,,,,,,,,,,,,,,,,,,,,,LD,,
ELEC,Kwik Trip #1205,1171 Wisconsin Dells Pkwy S,,Baraboo,WI,53913,,608-793-6267,E,,Public,24 hours daily,A D Debit M V,,,,,,4,,KWIK_CHARGE,https://www.kwiktrip.com/kwikcharge,200-8,43.57532,-89.77759,,446595,2025-12-01 14:44:01 UTC,P,,,2025-11-27,,,,,J1772COMBO TESLA,US,,,,Public,,public,,,GAS_STATION,,,,,,,$0.52 per kWh,,,,,,,,,,false,,,,,,,,LD,false,NEVI
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">422</th>
      <td class="doc-parameter-description">Unprocessable Entity - An invalid value was given for a query parameter. The response body will describe the specific error.</td>
    </tr>
  </tbody>
</table>
