---
title: All Stations
summary: Return a full list of alternative fuel stations that match your query.
url: GET /api/alt-fuel-stations/v1

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %>

<ul id="toc"></ul>

## Request URL

<pre>GET /api/alt-fuel-stations/v1<em>.format?parameters</em></pre>

## Request Parameters

The following query parameters may be passed in the request to control the output:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common1") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common2") %>
    <tr>
      <th class="doc-parameter-name" scope="row">limit</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> all
        </div>
        <div class="doc-parameter-value-field">
          <strong>Minimum:</strong> <i>1</i>
        </div>
      </td>
      <td class="doc-parameter-description">The maximum number of results to return. If not specified, all results will be returned. Note: Since results are returned in no specific order, this has limited use, other than for testing purposes.</td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of the fuel stations matching the requested query. For JSON or XML formats, additional metadata is supplied in the following structure:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">total_results</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>How many total stations match your requested query (regardless of any "limit" applied).</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">station_locator_url</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> string
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The URL of the Alternative Fueling Station Locator, the web application that supplies this data.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">fuel_stations</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> array
        </div>
      </td>
      <td class="doc-parameter-description">
        An array of matching fuel station records returned in no specific order. See <a href="#fuel-station-record-fields">fuel station record fields</a> for response details.
      </td>
    </tr>
  </tbody>
</table>

### Fuel Station Record Fields

The individual fuel station records are returned in no specific order. Each station has the following attributes:

<%= partial("docs/transportation/alt-fuel-stations-v1/record_fields") %>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.json?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.json?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```json
{
  "station_locator_url": "http://www.afdc.energy.gov/afdc/locator/stations/",
  "total_results": 5980,
  "station_counts": {
    "total": 22729,
    "fuels": {
      "BD": {
        "total": 0
      },
      "E85": {
        "total": 220
      },
      "ELEC": {
        "total": 22509,
        "stations": {
          "total": 5760
        }
      },
      "HY": {
        "total": 0
      },
      "LNG": {
        "total": 0
      },
      "CNG": {
        "total": 0
      },
      "LPG": {
        "total": 0
      }
    }
  },
  "fuel_stations": [
    {
      "access_code": "public",
      "access_days_time": "Garage business hours; pay lot",
      "access_detail_code": null,
      "cards_accepted": null,
      "date_last_confirmed": "2018-09-10",
      "expected_date": null,
      "fuel_type_code": "ELEC",
      "groups_with_access_code": "Public",
      "id": 1498,
      "open_date": "2018-08-20",
      "owner_type_code": "LG",
      "status_code": "E",
      "station_name": "City of Sacramento - Capitol Parking Garage",
      "station_phone": "888-758-4389  916-264-5011",
      "updated_at": "2019-01-17T00:33:46Z",
      "facility_type": "PAY_GARAGE",
      "geocode_status": "GPS",
      "latitude": 38.5783802,
      "longitude": -121.4926,
      "city": "Sacramento",
      "intersection_directions": "At 10th and L, 2nd Level",
      "plus4": null,
      "state": "CA",
      "street_address": "1015 L St",
      "zip": "95814",
      "country": "US",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "e85_blender_pump": null,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": [
        "NEMA520"
      ],
      "ev_dc_fast_num": null,
      "ev_level1_evse_num": 2,
      "ev_level2_evse_num": null,
      "ev_network": null,
      "ev_network_web": null,
      "ev_other_evse": "3 SP Inductive",
      "ev_pricing": null,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lpg_primary": null,
      "lpg_nozzle_types": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Public",
      "ev_pricing_fr": null
    },
    {
      "access_code": "private",
      "access_days_time": null,
      "access_detail_code": "GOVERNMENT",
      "cards_accepted": null,
      "date_last_confirmed": "2018-10-04",
      "expected_date": null,
      "fuel_type_code": "ELEC",
      "groups_with_access_code": "Private - Government only",
      "id": 1517,
      "open_date": "1999-10-15",
      "owner_type_code": "LG",
      "status_code": "E",
      "station_name": "LADWP - Truesdale Center",
      "station_phone": null,
      "updated_at": "2019-01-17T00:33:46Z",
      "facility_type": "UTILITY",
      "geocode_status": "200-8",
      "latitude": 34.249396,
      "longitude": -118.387136,
      "city": "Sun Valley",
      "intersection_directions": null,
      "plus4": null,
      "state": "CA",
      "street_address": "11791 Truesdale St",
      "zip": "91352",
      "country": "US",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "e85_blender_pump": null,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": [
        "J1772"
      ],
      "ev_dc_fast_num": null,
      "ev_level1_evse_num": null,
      "ev_level2_evse_num": 12,
      "ev_network": null,
      "ev_network_web": null,
      "ev_other_evse": null,
      "ev_pricing": null,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lpg_primary": null,
      "lpg_nozzle_types": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Privé - Réservé au gouvernement",
      "ev_pricing_fr": null
    }
  ]
}
```

### XML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.xml?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.xml?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<response>
  <station-locator-url>http://www.afdc.energy.gov/afdc/locator/stations/</station-locator-url>
  <total-results>5980</total-results>
  <station-counts>
    <total>22729</total>
    <fuels>
      <BD>
        <total>0</total>
      </BD>
      <E85>
        <total>220</total>
      </E85>
      <ELEC>
        <total>22509</total>
        <stations>
          <total>5760</total>
        </stations>
      </ELEC>
      <HY>
        <total>0</total>
      </HY>
      <LNG>
        <total>0</total>
      </LNG>
      <CNG>
        <total>0</total>
      </CNG>
      <LPG>
        <total>0</total>
      </LPG>
    </fuels>
  </station-counts>
  <fuel-stations type="array">
    <fuel-station>
      <access-code>public</access-code>
      <access-days-time>Garage business hours; pay lot</access-days-time>
      <access-detail-code nil="true"/>
      <cards-accepted nil="true"/>
      <date-last-confirmed>2018-09-10</date-last-confirmed>
      <expected-date nil="true"/>
      <fuel-type-code>ELEC</fuel-type-code>
      <groups-with-access-code>Public</groups-with-access-code>
      <id>1498</id>
      <open-date>2018-08-20</open-date>
      <owner-type-code>LG</owner-type-code>
      <status-code>E</status-code>
      <station-name>City of Sacramento - Capitol Parking Garage</station-name>
      <station-phone>888-758-4389  916-264-5011</station-phone>
      <updated-at>2019-01-17 00:33:46 UTC</updated-at>
      <facility-type>PAY_GARAGE</facility-type>
      <geocode-status>GPS</geocode-status>
      <latitude>38.5783802</latitude>
      <longitude>-121.4926</longitude>
      <city>Sacramento</city>
      <intersection-directions>At 10th and L, 2nd Level</intersection-directions>
      <plus4 nil="true"/>
      <state>CA</state>
      <street-address>1015 L St</street-address>
      <zip>95814</zip>
      <country>US</country>
      <bd-blends nil="true"/>
      <cng-dispenser-num nil="true"/>
      <cng-fill-type-code nil="true"/>
      <cng-psi nil="true"/>
      <cng-renewable-source nil="true"/>
      <cng-total-compression nil="true"/>
      <cng-total-storage nil="true"/>
      <cng-vehicle-class nil="true"/>
      <e85-blender-pump nil="true"/>
      <e85-other-ethanol-blends nil="true"/>
      <ev-connector-types>
        <ev-connector-type>NEMA520</ev-connector-type>
      </ev-connector-types>
      <ev-dc-fast-num nil="true"/>
      <ev-level1-evse-num>2</ev-level1-evse-num>
      <ev-level2-evse-num nil="true"/>
      <ev-network nil="true"/>
      <ev-network-web nil="true"/>
      <ev-other-evse>3 SP Inductive</ev-other-evse>
      <ev-pricing nil="true"/>
      <hy-is-retail nil="true"/>
      <hy-pressures nil="true"/>
      <hy-standards nil="true"/>
      <hy-status-link nil="true"/>
      <lng-renewable-source nil="true"/>
      <lng-vehicle-class nil="true"/>
      <lpg-primary nil="true"/>
      <lpg-nozzle-types nil="true"/>
      <ng-fill-type-code nil="true"/>
      <ng-psi nil="true"/>
      <ng-vehicle-class nil="true"/>
      <access-days-time-fr nil="true"/>
      <intersection-directions-fr nil="true"/>
      <bd-blends-fr nil="true"/>
      <groups-with-access-code-fr>Public</groups-with-access-code-fr>
      <ev-pricing-fr nil="true"/>
    </fuel-station>
    <fuel-station>
      <access-code>private</access-code>
      <access-days-time nil="true"/>
      <access-detail-code>GOVERNMENT</access-detail-code>
      <cards-accepted nil="true"/>
      <date-last-confirmed>2018-10-04</date-last-confirmed>
      <expected-date nil="true"/>
      <fuel-type-code>ELEC</fuel-type-code>
      <groups-with-access-code>Private - Government only</groups-with-access-code>
      <id>1517</id>
      <open-date>1999-10-15</open-date>
      <owner-type-code>LG</owner-type-code>
      <status-code>E</status-code>
      <station-name>LADWP - Truesdale Center</station-name>
      <station-phone nil="true"/>
      <updated-at>2019-01-17 00:33:46 UTC</updated-at>
      <facility-type>UTILITY</facility-type>
      <geocode-status>200-8</geocode-status>
      <latitude>34.249396</latitude>
      <longitude>-118.387136</longitude>
      <city>Sun Valley</city>
      <intersection-directions nil="true"/>
      <plus4 nil="true"/>
      <state>CA</state>
      <street-address>11791 Truesdale St</street-address>
      <zip>91352</zip>
      <country>US</country>
      <bd-blends nil="true"/>
      <cng-dispenser-num nil="true"/>
      <cng-fill-type-code nil="true"/>
      <cng-psi nil="true"/>
      <cng-renewable-source nil="true"/>
      <cng-total-compression nil="true"/>
      <cng-total-storage nil="true"/>
      <cng-vehicle-class nil="true"/>
      <e85-blender-pump nil="true"/>
      <e85-other-ethanol-blends nil="true"/>
      <ev-connector-types>
        <ev-connector-type>J1772</ev-connector-type>
      </ev-connector-types>
      <ev-dc-fast-num nil="true"/>
      <ev-level1-evse-num nil="true"/>
      <ev-level2-evse-num>12</ev-level2-evse-num>
      <ev-network nil="true"/>
      <ev-network-web nil="true"/>
      <ev-other-evse nil="true"/>
      <ev-pricing nil="true"/>
      <hy-is-retail nil="true"/>
      <hy-pressures nil="true"/>
      <hy-standards nil="true"/>
      <hy-status-link nil="true"/>
      <lng-renewable-source nil="true"/>
      <lng-vehicle-class nil="true"/>
      <lpg-primary nil="true"/>
      <lpg-nozzle-types nil="true"/>
      <ng-fill-type-code nil="true"/>
      <ng-psi nil="true"/>
      <ng-vehicle-class nil="true"/>
      <access-days-time-fr nil="true"/>
      <intersection-directions-fr nil="true"/>
      <bd-blends-fr nil="true"/>
      <groups-with-access-code-fr>Privé - Réservé au gouvernement</groups-with-access-code-fr>
      <ev-pricing-fr nil="true"/>
    </fuel-station>
  </fuel-stations>
</response>
```

### CSV Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1.csv?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2">/api/alt-fuel-stations/v1.csv?api_key=DEMO_KEY&amp;fuel_type=E85,ELEC&amp;state=CA&amp;limit=2</a></pre>

```
Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class
ELEC,City of Sacramento - Capitol Parking Garage,1015 L St,"At 10th and L, 2nd Level",Sacramento,CA,95814,,888-758-4389  916-264-5011,E,,Public,Garage business hours; pay lot,,,,,2,,,3 SP Inductive,,,GPS,38.5783802,-121.4926,2018-09-10,1498,2019-04-25 16:09:19 UTC,LG,,,2018-08-20,,,,,NEMA520,US,,,,Public,,public,,,PAY_GARAGE,,,,,,,,,,,,,,,
ELEC,LADWP - Truesdale Center,11791 Truesdale St,,Sun Valley,CA,91352,,,E,,Private - Government only,,,,,,,12,,,,,200-8,34.249396,-118.387136,2018-10-04,1517,2019-04-25 16:09:19 UTC,LG,,,1999-10-15,,,,,J1772,US,,,,Privé - Réservé au gouvernement,,private,GOVERNMENT,,UTILITY,,,,,,,,,,,,,,,
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">422</th>
      <td class="doc-parameter-description">Unprocessable Entity - An invalid value was given for a query parameter. The response body will describe the specific error.</td>
    </tr>
  </tbody>
</table>
