---
title: Last Updated Date
summary: Retrieve the date when the alternative fuel stations data were last updated.
url: GET /api/alt-fuel-stations/v1/last-updated
sort_value: "70"
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %> This dataset powers the <a href="https://afdc.energy.gov/stations/">Alternative Fueling Station Locator</a> on the Alternative Fuels Data Center.

<%= partial "layouts/toc" %>

## Request URL

<pre>GET /api/alt-fuel-stations/v1/last-updated<em>.format?parameters</em></pre>

## Request Parameters

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial "docs/transportation/alt-fuel-stations-v1/request_params/format", locals: {formats: %w[json]} %>
    <%= partial "docs/transportation/alt-fuel-stations-v1/request_params/api_key" %>
  </tbody>
</table>

## Response Fields

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">last_updated</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> datetime
        </div>
        <div class="doc-parameter-value-field"></div>
      </td>
      <td class="doc-parameter-description">
        <p>The time the alternative fuel stations data was last updated (<a href="http://en.wikipedia.org/wiki/ISO_8601">ISO 8601</a> format).</p>
      </td>
    </tr>
  </tbody>
</table>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/last-updated.json?api_key=DEMO_KEY">/api/alt-fuel-stations/v1/last-updated.json?api_key=DEMO_KEY</a></pre>

```json
{
  "last_updated": "2012-04-06T13:48:16Z"
}
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned.
