---
title: Nearest Stations
summary: Return the nearest alternative fuel stations within a distance of a given
  location.
url: GET /api/alt-fuel-stations/v1/nearest
sort_value: "30"
---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %> This dataset powers the <a href="https://afdc.energy.gov/stations/">Alternative Fueling Station Locator</a> on the Alternative Fuels Data Center.

<%= partial "layouts/toc" %>

## Request URL

<pre>GET /api/alt-fuel-stations/v1/nearest<em>.format?parameters</em></pre>

## Request Parameters

The following query parameters may be passed in the request to control the output:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common1") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params/response_format") %>
    <tr>
      <th class="doc-parameter-name" scope="row">latitude</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>-90</em> to <em>90</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The latitude of the desired location.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">longitude</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>-180</em> to <em>180</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The longitude of the desired location.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">radius</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal or string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> <i>5.0</i>
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>0.0</em> to <em>500.0</em>, or <em>infinite</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The radius (in miles) around the search location to search for stations within.</p>
        <p>An explicit radius of up to 500.0 miles may be passed in, or the special <code>infinite</code> string may be passed in to find the nearest stations regardless of distance.</p>
      </td>
    </tr>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common2") %>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params/limit", locals: {default: "20", bonus_description: " except when the radius is <code>infinite</code>"}) %>
    <tr>
      <th class="doc-parameter-name" scope="row">offset</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> 0
        </div>
        <div class="doc-parameter-value-field">
          <strong>Minimum:</strong> <i>0</i>
        </div>
      </td>
      <td class="doc-parameter-description">Offset the results found (can be used with the <em>limit</em> parameter to paginate the results).</td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of the fuel stations matching the requested query. For JSON or GeoJSON formats, additional metadata is supplied in the following structure:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/response_fields_common") %>
    <tr>
      <th class="doc-parameter-name" scope="row">offset</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The result offset applied to this query (if the "offset" parameter was given).</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">latitude</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">The latitude of the given input location.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">longitude</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">The longitude of the given input location.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">fuel_stations</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> array
        </div>
      </td>
      <td class="doc-parameter-description">
        An array of matching fuel station records returned in order of ascending distance from the given location. See <a href="#fuel-station-record-fields">fuel station record fields</a> for response details.
      </td>
    </tr>
  </tbody>
</table>

### Fuel Station Record Fields

The individual fuel station records are returned in order of ascending distance from the given location. Each station has the following attributes:

<%= partial("docs/transportation/alt-fuel-stations-v1/record_fields", :locals => { :distance => true }) %>

<%= partial("docs/transportation/alt-fuel-stations-v1/station_count_record_fields") %>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.json?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.json?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```json
{
  "station_locator_url": "https://afdc.energy.gov/stations/",
  "total_results": 108,
  "station_counts": {
    "total": 395,
    "fuels": {
      "BD": {
        "total": 0
      },
      "E85": {
        "total": 0
      },
      "ELEC": {
        "total": 395,
        "stations": {
          "total": 108
        }
      },
      "HY": {
        "total": 0
      },
      "LNG": {
        "total": 0
      },
      "CNG": {
        "total": 0
      },
      "LPG": {
        "total": 0
      },
      "RD": {
        "total": 0
      }
    }
  },
  "latitude": 39.743078,
  "longitude": -105.152278,
  "location_country": null,
  "precision": null,
  "offset": 0,
  "fuel_stations": [
    {
      "access_code": "public",
      "access_days_time": "24 hours daily",
      "access_detail_code": null,
      "cards_accepted": null,
      "date_last_confirmed": "2025-10-28",
      "expected_date": null,
      "fuel_type_code": "ELEC",
      "groups_with_access_code": "Public",
      "id": 194116,
      "maximum_vehicle_class": null,
      "open_date": "2021-08-19",
      "owner_type_code": null,
      "related_stations": [],
      "restricted_access": false,
      "status_code": "E",
      "funding_sources": null,
      "facility_type": null,
      "station_name": "1687 COLE BLVD EAST STATION 1",
      "station_phone": "888-758-4389",
      "updated_at": "2025-10-28T02:08:15Z",
      "geocode_status": "GPS",
      "latitude": 39.740932,
      "longitude": -105.156235,
      "city": "Lakewood",
      "country": "US",
      "intersection_directions": null,
      "plus4": null,
      "state": "CO",
      "street_address": "1687 Cole Blvd",
      "zip": "80401",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_has_rng": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "e85_blender_pump": null,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": [
        "J1772"
      ],
      "ev_dc_fast_num": null,
      "ev_level1_evse_num": null,
      "ev_level2_evse_num": 2,
      "ev_network": "ChargePoint Network",
      "ev_network_web": "https://www.chargepoint.com",
      "ev_other_evse": null,
      "ev_pricing": null,
      "ev_renewable_source": null,
      "ev_workplace_charging": false,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_has_rng": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lpg_nozzle_types": null,
      "lpg_primary": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "rd_blended_with_biodiesel": null,
      "rd_blends": null,
      "rd_blends_fr": null,
      "rd_max_biodiesel_level": null,
      "nps_unit_name": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Public",
      "ev_pricing_fr": null,
      "ev_charging_units": [
        {
          "network": "ChargePoint Network",
          "connectors": {
            "J1772": {
              "power_kw": 6.5,
              "port_count": 1
            },
            "J3271": {
              "power_kw": null,
              "port_count": 0
            },
            "TESLA": {
              "power_kw": null,
              "port_count": 0
            },
            "CHADEMO": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA515": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA520": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA1450": {
              "power_kw": null,
              "port_count": 0
            },
            "J1772COMBO": {
              "power_kw": null,
              "port_count": 0
            }
          },
          "port_count": 1,
          "charging_level": "2",
          "funding_sources": []
        },
        {
          "network": "ChargePoint Network",
          "connectors": {
            "J1772": {
              "power_kw": 6.5,
              "port_count": 1
            },
            "J3271": {
              "power_kw": null,
              "port_count": 0
            },
            "TESLA": {
              "power_kw": null,
              "port_count": 0
            },
            "CHADEMO": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA515": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA520": {
              "power_kw": null,
              "port_count": 0
            },
            "NEMA1450": {
              "power_kw": null,
              "port_count": 0
            },
            "J1772COMBO": {
              "power_kw": null,
              "port_count": 0
            }
          },
          "port_count": 1,
          "charging_level": "2",
          "funding_sources": []
        }
      ],
      "ev_network_ids": {
        "station": [
          "USCPIL9075981"
        ],
        "posts": [
          "27812261",
          "27812271"
        ]
      },
      "distance": 0.25756,
      "distance_km": 0.4145
    }
  ]
}
```

### GeoJSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.geojson?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.geojson?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```json
{
  "type": "FeatureCollection",
  "metadata": {
    "station_locator_url": "https://afdc.energy.gov/stations/",
    "total_results": 108,
    "station_counts": {
      "total": 395,
      "fuels": {
        "BD": {
          "total": 0
        },
        "E85": {
          "total": 0
        },
        "ELEC": {
          "total": 395,
          "stations": {
            "total": 108
          }
        },
        "HY": {
          "total": 0
        },
        "LNG": {
          "total": 0
        },
        "CNG": {
          "total": 0
        },
        "LPG": {
          "total": 0
        },
        "RD": {
          "total": 0
        }
      }
    },
    "latitude": 39.743078,
    "longitude": -105.152278,
    "location_country": null,
    "precision": null,
    "offset": 0
  },
  "features": [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -105.156235,
          39.740932
        ]
      },
      "properties": {
        "access_code": "public",
        "access_days_time": "24 hours daily",
        "access_detail_code": null,
        "cards_accepted": null,
        "date_last_confirmed": "2025-10-28",
        "expected_date": null,
        "fuel_type_code": "ELEC",
        "groups_with_access_code": "Public",
        "id": 194116,
        "maximum_vehicle_class": null,
        "open_date": "2021-08-19",
        "owner_type_code": null,
        "related_stations": [],
        "restricted_access": false,
        "status_code": "E",
        "funding_sources": null,
        "facility_type": null,
        "station_name": "1687 COLE BLVD EAST STATION 1",
        "station_phone": "888-758-4389",
        "updated_at": "2025-10-28T02:08:15Z",
        "geocode_status": "GPS",
        "city": "Lakewood",
        "country": "US",
        "intersection_directions": null,
        "plus4": null,
        "state": "CO",
        "street_address": "1687 Cole Blvd",
        "zip": "80401",
        "bd_blends": null,
        "cng_dispenser_num": null,
        "cng_fill_type_code": null,
        "cng_has_rng": null,
        "cng_psi": null,
        "cng_renewable_source": null,
        "cng_total_compression": null,
        "cng_total_storage": null,
        "cng_vehicle_class": null,
        "e85_blender_pump": null,
        "e85_other_ethanol_blends": null,
        "ev_connector_types": [
          "J1772"
        ],
        "ev_dc_fast_num": null,
        "ev_level1_evse_num": null,
        "ev_level2_evse_num": 2,
        "ev_network": "ChargePoint Network",
        "ev_network_web": "https://www.chargepoint.com",
        "ev_other_evse": null,
        "ev_pricing": null,
        "ev_renewable_source": null,
        "ev_workplace_charging": false,
        "hy_is_retail": null,
        "hy_pressures": null,
        "hy_standards": null,
        "hy_status_link": null,
        "lng_has_rng": null,
        "lng_renewable_source": null,
        "lng_vehicle_class": null,
        "lpg_nozzle_types": null,
        "lpg_primary": null,
        "ng_fill_type_code": null,
        "ng_psi": null,
        "ng_vehicle_class": null,
        "rd_blended_with_biodiesel": null,
        "rd_blends": null,
        "rd_blends_fr": null,
        "rd_max_biodiesel_level": null,
        "nps_unit_name": null,
        "access_days_time_fr": null,
        "intersection_directions_fr": null,
        "bd_blends_fr": null,
        "groups_with_access_code_fr": "Public",
        "ev_pricing_fr": null,
        "ev_charging_units": [
          {
            "network": "ChargePoint Network",
            "connectors": {
              "J1772": {
                "power_kw": 6.5,
                "port_count": 1
              },
              "J3271": {
                "power_kw": null,
                "port_count": 0
              },
              "TESLA": {
                "power_kw": null,
                "port_count": 0
              },
              "CHADEMO": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA515": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA520": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA1450": {
                "power_kw": null,
                "port_count": 0
              },
              "J1772COMBO": {
                "power_kw": null,
                "port_count": 0
              }
            },
            "port_count": 1,
            "charging_level": "2",
            "funding_sources": []
          },
          {
            "network": "ChargePoint Network",
            "connectors": {
              "J1772": {
                "power_kw": 6.5,
                "port_count": 1
              },
              "J3271": {
                "power_kw": null,
                "port_count": 0
              },
              "TESLA": {
                "power_kw": null,
                "port_count": 0
              },
              "CHADEMO": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA515": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA520": {
                "power_kw": null,
                "port_count": 0
              },
              "NEMA1450": {
                "power_kw": null,
                "port_count": 0
              },
              "J1772COMBO": {
                "power_kw": null,
                "port_count": 0
              }
            },
            "port_count": 1,
            "charging_level": "2",
            "funding_sources": []
          }
        ],
        "ev_network_ids": {
          "station": [
            "USCPIL9075981"
          ],
          "posts": [
            "27812261",
            "27812271"
          ]
        },
        "distance": 0.25756,
        "distance_km": 0.4145
      }
    }
  ]
}
```

### CSV Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.csv?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.csv?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```
Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,Maximum Vehicle Class
ELEC,1687 COLE BLVD EAST STATION 1,1687 Cole Blvd,,Lakewood,CO,80401,,888-758-4389,E,,Public,24 hours daily,,,,,,2,,,ChargePoint Network,http://www.chargepoint.com/,GPS,39.740932,-105.156235,2023-01-02,194116,2023-01-02 23:31:30 UTC,,,,2021-08-19,,,,,J1772,US,,,,Public,,public,,,,,,,,,,,,,,,,,,,,,,,,,
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">422</th>
      <td class="doc-parameter-description">Unprocessable Entity - An invalid value was given for a query parameter. The response body will describe the specific error.</td>
    </tr>
  </tbody>
</table>
