---
title: Nearest Stations
summary: Return the nearest alternative fuel stations within a distance of a given
  location.
url: GET /api/alt-fuel-stations/v1/nearest

---

# <%= current_page.data.title %> <span class="url">(<%= current_page.data.url %>)</span>
<%= current_page.data.summary %> This dataset powers the <a href="https://afdc.energy.gov/stations/">Alternative Fueling Station Locator</a> on the Alternative Fuels Data Center.

<ul id="toc"></ul>

## Request URL

<pre>GET /api/alt-fuel-stations/v1/nearest<em>.format?parameters</em></pre>

## Request Parameters

The following query parameters may be passed in the request to control the output:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Parameter</th>
      <th class="doc-parameters-required" scope="col">Required</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common1") %>
    <tr>
      <th class="doc-parameter-name" scope="row">latitude</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>-90</em> to <em>90</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The latitude of the desired location.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">longitude</th>
      <td class="doc-parameter-required">Yes</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>-180</em> to <em>180</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The longitude of the desired location.</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">radius</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> decimal or string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> <i>5.0</i>
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>0.0</em> to <em>500.0</em>, or <em>infinite</em>
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The radius (in miles) around the search location to search for stations within.</p>
        <p>An explicit radius of up to 500.0 miles may be passed in, or the special <code>infinite</code> string may be passed in to find the nearest stations regardless of distance.</p>
      </td>
    </tr>
    <%= partial("docs/transportation/alt-fuel-stations-v1/request_params_common2") %>
    <tr>
      <th class="doc-parameter-name" scope="row">limit</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer or string
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> 20
        </div>
        <div class="doc-parameter-value-field">
          <strong>Range:</strong> <em>0</em> to <em>200</em>, or <em>all</em>
        </div>
      </td>
      <td class="doc-parameter-description">The maximum number of results to return. An explicit limit of up to 200 may be passed in, or the special <code>all</code> string may be passed in to return all results.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">offset</th>
      <td class="doc-parameter-required">No</td>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
        <div class="doc-parameter-value-field">
          <strong>Default:</strong> 0
        </div>
        <div class="doc-parameter-value-field">
          <strong>Minimum:</strong> <i>0</i>
        </div>
      </td>
      <td class="doc-parameter-description">Offset the results found (can be used with the <em>limit</em> parameter to paginate the results).</td>
    </tr>
  </tbody>
</table>

## Response Fields

The response is composed of the fuel stations matching the requested query. For JSON, GeoJSON, or XML formats, additional metadata is supplied in the following structure:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">Field</th>
      <th class="doc-parameters-value" scope="col">Value</th>
      <th class="doc-parameters-description" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <%= partial("docs/transportation/alt-fuel-stations-v1/response_fields_common") %>
    <tr>
      <th class="doc-parameter-name" scope="row">offset</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> integer
        </div>
      </td>
      <td class="doc-parameter-description">
        <p>The result offset applied to this query (if the "offset" parameter was given).</p>
      </td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">latitude</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">The latitude of the given input location.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">longitude</th>
      <td class="doc-parameter-value"><strong>Type:</strong> decimal</td>
      <td class="doc-parameter-description">The longitude of the given input location.</td>
    </tr>
    <tr>
      <th class="doc-parameter-name" scope="row">fuel_stations</th>
      <td class="doc-parameter-value">
        <div class="doc-parameter-value-field">
          <strong>Type:</strong> array
        </div>
      </td>
      <td class="doc-parameter-description">
        An array of matching fuel station records returned in order of ascending distance from the given location. See <a href="#fuel-station-record-fields">fuel station record fields</a> for response details.
      </td>
    </tr>
  </tbody>
</table>

### Fuel Station Record Fields

The individual fuel station records are returned in order of ascending distance from the given location. Each station has the following attributes:

<%= partial("docs/transportation/alt-fuel-stations-v1/record_fields", :locals => { :distance => true }) %>

<%= partial("docs/transportation/alt-fuel-stations-v1/station_count_record_fields") %>

## Examples

### JSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.json?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.json?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```json
{
  "latitude": 39.743078,
  "longitude": -105.152278,
  "station_locator_url": "https://afdc.energy.gov/stations/",
  "total_results": 82,
  "station_counts": {
    "total": 320,
    "fuels": {
      "BD": {
        "total": 0
      },
      "E85": {
        "total": 0
      },
      "ELEC": {
        "total": 320,
        "stations": {
          "total": 82
        }
      },
      "HY": {
        "total": 0
      },
      "LNG": {
        "total": 0
      },
      "CNG": {
        "total": 0
      },
      "LPG": {
        "total": 0
      }
    }
  },
  "offset": 0,
  "fuel_stations": [
    {
      "access_code": "public",
      "access_days_time": "24 hours daily",
      "access_detail_code": null,
      "cards_accepted": null,
      "date_last_confirmed": "2022-06-13",
      "expected_date": null,
      "fuel_type_code": "ELEC",
      "groups_with_access_code": "Public",
      "id": 194116,
      "open_date": "2021-08-19",
      "owner_type_code": null,
      "status_code": "E",
      "restricted_access": null,
      "maximum_vehicle_class": null,
      "station_name": "1687 COLE BLVD EAST STATION 1",
      "station_phone": "888-758-4389",
      "updated_at": "2022-06-13T01:40:48Z",
      "facility_type": null,
      "geocode_status": "GPS",
      "latitude": 39.740932,
      "longitude": -105.156235,
      "city": "Lakewood",
      "intersection_directions": null,
      "plus4": null,
      "state": "CO",
      "street_address": "1687 Cole Blvd",
      "zip": "80401",
      "country": "US",
      "bd_blends": null,
      "cng_dispenser_num": null,
      "cng_fill_type_code": null,
      "cng_psi": null,
      "cng_renewable_source": null,
      "cng_total_compression": null,
      "cng_total_storage": null,
      "cng_vehicle_class": null,
      "e85_blender_pump": null,
      "e85_other_ethanol_blends": null,
      "ev_connector_types": [
        "J1772"
      ],
      "ev_dc_fast_num": null,
      "ev_level1_evse_num": null,
      "ev_level2_evse_num": 2,
      "ev_network": "ChargePoint Network",
      "ev_network_web": "http://www.chargepoint.com/",
      "ev_other_evse": null,
      "ev_pricing": null,
      "ev_renewable_source": null,
      "hy_is_retail": null,
      "hy_pressures": null,
      "hy_standards": null,
      "hy_status_link": null,
      "lng_renewable_source": null,
      "lng_vehicle_class": null,
      "lpg_primary": null,
      "lpg_nozzle_types": null,
      "ng_fill_type_code": null,
      "ng_psi": null,
      "ng_vehicle_class": null,
      "rd_blends": null,
      "rd_blends_fr": null,
      "rd_blended_with_biodiesel": null,
      "rd_max_biodiesel_level": null,
      "access_days_time_fr": null,
      "intersection_directions_fr": null,
      "bd_blends_fr": null,
      "groups_with_access_code_fr": "Public",
      "ev_pricing_fr": null,
      "ev_network_ids": {
        "station": [
          "USCPIL9075981"
        ],
        "posts": [
          "16005951",
          "16005961"
        ]
      },
      "distance": 0.25756,
      "distance_km": 0.4145
    }
  ]
}
```

### GeoJSON Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.geojson?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.geojson?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```json
{
  "type": "FeatureCollection",
  "metadata": {
    "latitude": 39.743078,
    "longitude": -105.152278,
    "station_locator_url": "https://afdc.energy.gov/stations/",
    "total_results": 82,
    "station_counts": {
      "total": 320,
      "fuels": {
        "BD": {
          "total": 0
        },
        "E85": {
          "total": 0
        },
        "ELEC": {
          "total": 320,
          "stations": {
            "total": 82
          }
        },
        "HY": {
          "total": 0
        },
        "LNG": {
          "total": 0
        },
        "CNG": {
          "total": 0
        },
        "LPG": {
          "total": 0
        }
      }
    },
    "offset": 0
  },
  "features": [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
          -105.156235,
          39.740932
        ]
      },
      "properties": {
        "access_code": "public",
        "access_days_time": "24 hours daily",
        "access_detail_code": null,
        "cards_accepted": null,
        "date_last_confirmed": "2022-06-13",
        "expected_date": null,
        "fuel_type_code": "ELEC",
        "groups_with_access_code": "Public",
        "id": 194116,
        "open_date": "2021-08-19",
        "owner_type_code": null,
        "status_code": "E",
        "restricted_access": null,
        "maximum_vehicle_class": null,
        "station_name": "1687 COLE BLVD EAST STATION 1",
        "station_phone": "888-758-4389",
        "updated_at": "2022-06-13T01:40:48Z",
        "facility_type": null,
        "geocode_status": "GPS",
        "city": "Lakewood",
        "intersection_directions": null,
        "plus4": null,
        "state": "CO",
        "street_address": "1687 Cole Blvd",
        "zip": "80401",
        "country": "US",
        "bd_blends": null,
        "cng_dispenser_num": null,
        "cng_fill_type_code": null,
        "cng_psi": null,
        "cng_renewable_source": null,
        "cng_total_compression": null,
        "cng_total_storage": null,
        "cng_vehicle_class": null,
        "e85_blender_pump": null,
        "e85_other_ethanol_blends": null,
        "ev_connector_types": [
          "J1772"
        ],
        "ev_dc_fast_num": null,
        "ev_level1_evse_num": null,
        "ev_level2_evse_num": 2,
        "ev_network": "ChargePoint Network",
        "ev_network_web": "http://www.chargepoint.com/",
        "ev_other_evse": null,
        "ev_pricing": null,
        "ev_renewable_source": null,
        "hy_is_retail": null,
        "hy_pressures": null,
        "hy_standards": null,
        "hy_status_link": null,
        "lng_renewable_source": null,
        "lng_vehicle_class": null,
        "lpg_primary": null,
        "lpg_nozzle_types": null,
        "ng_fill_type_code": null,
        "ng_psi": null,
        "ng_vehicle_class": null,
        "rd_blends": null,
        "rd_blends_fr": null,
        "rd_blended_with_biodiesel": null,
        "rd_max_biodiesel_level": null,
        "access_days_time_fr": null,
        "intersection_directions_fr": null,
        "bd_blends_fr": null,
        "groups_with_access_code_fr": "Public",
        "ev_pricing_fr": null,
        "ev_network_ids": {
          "station": [
            "USCPIL9075981"
          ],
          "posts": [
            "16005951",
            "16005961"
          ]
        },
        "distance": 0.25756,
        "distance_km": 0.4145
      }
    }
  ]
}
```

### XML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.xml?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.xml?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<response>
  <latitude>39.743078</latitude>
  <longitude>-105.152278</longitude>
  <station-locator-url>https://afdc.energy.gov/stations/</station-locator-url>
  <total-results>82</total-results>
  <station-counts>
    <total>320</total>
    <fuels>
      <BD>
        <total>0</total>
      </BD>
      <E85>
        <total>0</total>
      </E85>
      <ELEC>
        <total>320</total>
        <stations>
          <total>82</total>
        </stations>
      </ELEC>
      <HY>
        <total>0</total>
      </HY>
      <LNG>
        <total>0</total>
      </LNG>
      <CNG>
        <total>0</total>
      </CNG>
      <LPG>
        <total>0</total>
      </LPG>
    </fuels>
  </station-counts>
  <offset>0</offset>
  <fuel-stations type="array">
    <fuel-station>
      <access-code>public</access-code>
      <access-days-time>24 hours daily</access-days-time>
      <access-detail-code nil="true"/>
      <cards-accepted nil="true"/>
      <date-last-confirmed>2022-06-13</date-last-confirmed>
      <expected-date nil="true"/>
      <fuel-type-code>ELEC</fuel-type-code>
      <groups-with-access-code>Public</groups-with-access-code>
      <id>194116</id>
      <open-date>2021-08-19</open-date>
      <owner-type-code nil="true"/>
      <status-code>E</status-code>
      <restricted-access nil="true"/>
      <maximum-vehicle-class nil="true"/>
      <station-name>1687 COLE BLVD EAST STATION 1</station-name>
      <station-phone>888-758-4389</station-phone>
      <updated-at>2022-06-13 01:40:48 UTC</updated-at>
      <facility-type nil="true"/>
      <geocode-status>GPS</geocode-status>
      <latitude>39.740932</latitude>
      <longitude>-105.156235</longitude>
      <city>Lakewood</city>
      <intersection-directions nil="true"/>
      <plus4 nil="true"/>
      <state>CO</state>
      <street-address>1687 Cole Blvd</street-address>
      <zip>80401</zip>
      <country>US</country>
      <bd-blends nil="true"/>
      <cng-dispenser-num nil="true"/>
      <cng-fill-type-code nil="true"/>
      <cng-psi nil="true"/>
      <cng-renewable-source nil="true"/>
      <cng-total-compression nil="true"/>
      <cng-total-storage nil="true"/>
      <cng-vehicle-class nil="true"/>
      <e85-blender-pump nil="true"/>
      <e85-other-ethanol-blends nil="true"/>
      <ev-connector-types>
        <ev-connector-type>J1772</ev-connector-type>
      </ev-connector-types>
      <ev-dc-fast-num nil="true"/>
      <ev-level1-evse-num nil="true"/>
      <ev-level2-evse-num>2</ev-level2-evse-num>
      <ev-network>ChargePoint Network</ev-network>
      <ev-network-web>http://www.chargepoint.com/</ev-network-web>
      <ev-other-evse nil="true"/>
      <ev-pricing nil="true"/>
      <ev-renewable-source nil="true"/>
      <hy-is-retail nil="true"/>
      <hy-pressures nil="true"/>
      <hy-standards nil="true"/>
      <hy-status-link nil="true"/>
      <lng-renewable-source nil="true"/>
      <lng-vehicle-class nil="true"/>
      <lpg-primary nil="true"/>
      <lpg-nozzle-types nil="true"/>
      <ng-fill-type-code nil="true"/>
      <ng-psi nil="true"/>
      <ng-vehicle-class nil="true"/>
      <rd-blends-en nil="true"/>
      <rd-blends-fr nil="true"/>
      <rd-blended-with-biodiesel nil="true"/>
      <rd-max-biodiesel-level nil="true"/>
      <access-days-time-fr nil="true"/>
      <intersection-directions-fr nil="true"/>
      <bd-blends-fr nil="true"/>
      <groups-with-access-code-fr>Public</groups-with-access-code-fr>
      <ev-pricing-fr nil="true"/>
      <ev-network-ids>
        <station>
          <station>USCPIL9075981</station>
        </station>
        <posts>
          <post>16005951</post>
          <post>16005961</post>
        </posts>
      </ev-network-ids>
      <distance>0.25756</distance>
      <distance-km>0.4145</distance-km>
    </fuel-station>
  </fuel-stations>
</response>
```

### KML Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.kml?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.kml?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```xml
<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
  <Document>
    <Placemark>
      <name>1687 COLE BLVD EAST STATION 1</name>
      <address>1687 Cole Blvd</address>
      <phoneNumber>888-758-4389</phoneNumber>
      <Point>
        <coordinates>-105.156235,39.740932</coordinates>
      </Point>
      <ExtendedData>
        <Data name="access_code">
          <Value>public</Value>
        </Data>
        <Data name="access_days_time">
          <Value>24 hours daily</Value>
        </Data>
        <Data name="date_last_confirmed">
          <Value>2022-06-13</Value>
        </Data>
        <Data name="fuel_type_code">
          <Value>ELEC</Value>
        </Data>
        <Data name="groups_with_access_code">
          <Value>Public</Value>
        </Data>
        <Data name="id">
          <Value>194116</Value>
        </Data>
        <Data name="open_date">
          <Value>2021-08-19</Value>
        </Data>
        <Data name="status_code">
          <Value>E</Value>
        </Data>
        <Data name="updated_at">
          <Value>2022-06-13 01:40:48 UTC</Value>
        </Data>
        <Data name="geocode_status">
          <Value>GPS</Value>
        </Data>
        <Data name="city">
          <Value>Lakewood</Value>
        </Data>
        <Data name="state">
          <Value>CO</Value>
        </Data>
        <Data name="zip">
          <Value>80401</Value>
        </Data>
        <Data name="country">
          <Value>US</Value>
        </Data>
        <Data name="ev_connector_types">
          <Value>["J1772"]</Value>
        </Data>
        <Data name="ev_level2_evse_num">
          <Value>2</Value>
        </Data>
        <Data name="ev_network">
          <Value>ChargePoint Network</Value>
        </Data>
        <Data name="ev_network_web">
          <Value>http://www.chargepoint.com/</Value>
        </Data>
        <Data name="groups_with_access_code_fr">
          <Value>Public</Value>
        </Data>
        <Data name="ev_network_ids_station">
          <Value>["USCPIL9075981"]</Value>
        </Data>
        <Data name="ev_network_ids_posts">
          <Value>["16005951", "16005961"]</Value>
        </Data>
        <Data name="distance">
          <Value>0.25756</Value>
        </Data>
        <Data name="distance_km">
          <Value>0.4145</Value>
        </Data>
      </ExtendedData>
    </Placemark>
  </Document>
</kml>
```

### CSV Output Format

<pre>GET <a href="/api/alt-fuel-stations/v1/nearest.csv?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1">/api/alt-fuel-stations/v1/nearest.csv?api_key=DEMO_KEY&amp;latitude=39.743078&amp;longitude=-105.152278&amp;fuel_type=ELEC&amp;limit=1</a></pre>

```
Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,Expected Date,Groups With Access Code,Access Days Time,Cards Accepted,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,EV Other Info,EV Network,EV Network Web,Geocode Status,Latitude,Longitude,Date Last Confirmed,ID,Updated At,Owner Type Code,Federal Agency ID,Federal Agency Name,Open Date,Hydrogen Status Link,NG Vehicle Class,LPG Primary,E85 Blender Pump,EV Connector Types,Country,Intersection Directions (French),Access Days Time (French),BD Blends (French),Groups With Access Code (French),Hydrogen Is Retail,Access Code,Access Detail Code,Federal Agency Code,Facility Type,CNG Dispenser Num,CNG On-Site Renewable Source,CNG Total Compression Capacity,CNG Storage Capacity,LNG On-Site Renewable Source,E85 Other Ethanol Blends,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source,Restricted Access,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,Maximum Vehicle Class
ELEC,1687 COLE BLVD EAST STATION 1,1687 Cole Blvd,,Lakewood,CO,80401,,888-758-4389,E,,Public,24 hours daily,,,,,,2,,,ChargePoint Network,http://www.chargepoint.com/,GPS,39.740932,-105.156235,2023-01-02,194116,2023-01-02 23:31:30 UTC,,,,2021-08-19,,,,,J1772,US,,,,Public,,public,,,,,,,,,,,,,,,,,,,,,,,,,
```

## Rate Limits

[Standard rate limits](/docs/rate-limits) apply. No more than 1,000 requests may be made in any hour

## Errors

[Standard errors](/docs/errors) may be returned. In addition, the following service-specific errors may be returned:

<table border="0" cellpadding="0" cellspacing="0" class="doc-parameters">
  <thead>
    <tr>
      <th class="doc-parameters-name" scope="col">HTTP Status Code</th>
      <th class="doc-parameters-required" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="doc-parameter-name" scope="row">422</th>
      <td class="doc-parameter-description">Unprocessable Entity - An invalid value was given for a query parameter. The response body will describe the specific error.</td>
    </tr>
  </tbody>
</table>
